@import "resources/sass/variables";

.categories {
  margin-top: -75px;

  @media (min-width: 1200px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
  }

  @media (max-width: $max-tablet-size) {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow: hidden;
  }

  @media (max-width: 950px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow: hidden;

  }

  @media (max-width: 880px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow: hidden;

  }

  @media (max-width: 810px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    overflow: hidden;

  }

  @media (max-width: $min-tablet-size) {
    margin-top: -55px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

  }

  @media (max-width: $max-mobile-size) {
    margin-top: -10px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
  }

  &__preview {
    overflow: hidden;
    padding: 10px 10px;

    @media (max-width: $max-tablet-size) {
      overflow: unset;
    }

  }

  &__card {
    height: 139px;

    overflow: hidden;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;

    color: $text-dark-color;

    background: linear-gradient(141.83deg, #FFFFFF 45.64%, #E5F6EC 130.72%);
    box-shadow: 0 1px 13px rgba(171, 180, 195, 0.25);
    border-radius: 12px;

    &:nth-child(n) {
      background: rgb(243, 237, 254);
    }
    &:nth-child(2n) {
      background: rgb(230, 246, 255);
    }
    &:nth-child(3n) {
      background: rgb(255, 230, 222);
    }
    &:nth-child(4n) {
      background: rgb(234, 252, 207);
    }

    @media (max-width: 1090px) {
      height: 132px;
    }

    @media (max-width: $max-tablet-size) {
      height: 143px;
      font-size: 12px;
    }

    @media (max-width: 991px) {
      height: 105px;
    }

    @media (max-width: $max-mobile-size) {
      font-size: 8px;
      height: 96px;
      border-radius: 6px;
    }

    @media (max-width: 580px) {
      height: 23vw;
    }
  }
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  position: inherit;

  height: unset;
}

.swiper {


  &--next {
    position: absolute;
    top: 40%;
    right: -20px;
    left: auto;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    border-radius: 8px;
    width: 40px;
    height: 40px;

    filter: drop-shadow(0px 1px 25px rgba(171, 180, 195, 0.25));

    @media (max-width: $max-tablet-size) {
      display: none;
    }

    img {
      filter: invert(51%) sepia(80%) saturate(3095%) hue-rotate(195deg) brightness(100%) contrast(102%);
    }

    &.swiper-button-disabled {
      display: none;
    }
  }

  &--prev {
    position: absolute;
    top: 40%;
    left: -20px;
    right: auto;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;

    background: #FFFFFF;
    border-radius: 8px;
    width: 40px;
    height: 40px;

    filter: drop-shadow(0px 1px 25px rgba(171, 180, 195, 0.25));

    transform: matrix(-1, 0, 0, 1, 0, 0);

    img {
      filter: invert(51%) sepia(80%) saturate(3095%) hue-rotate(195deg) brightness(100%) contrast(102%);
    }

    @media (max-width: $max-tablet-size) {
      display: none;
    }

    &.swiper-button-disabled {
      display: none;
    }
  }
}

.slider {
  position: relative;
  margin-top: 12px;
}

.card-item {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;

  &__title {
    color: $text-dark-color;
    padding: 15px;
    z-index: 2;
    line-height: 120%;
    font-size: 12px;

    @media (max-width: 991px) {
      padding: 8px;
      font-size: 10px;
    }

    @media (max-width: $max-mobile-size) {
      padding: 5px;
      font-size: 8px;
    }
  }

  &__img {
    position: absolute;
    bottom: 5%;
    right: 15%;
    width: 70%;
    z-index: 1;
  }
}

.categories-slider {
  width: 100%;
  overflow: hidden;

  &__container {
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
  }

  &__item {
  }
}