@import "resources/sass/variables";

.latest-posts {

  display: flex;
  flex-direction: column;

  padding-top: 55px;

  @media (max-width: $max-tablet-size) {
    padding-top: 40px;
  }

  @media (max-width: $max-mobile-size) {
    padding-top: 8px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 13px;

    @media (max-width: $max-mobile-size) {
      flex-direction: column-reverse;
      align-items: start;
      gap: 10px;
      padding-bottom: 12px;
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: flex-end;
    letter-spacing: -0.02em;

    color: $text-color;

    @media (max-width: $min-tablet-size) {
      font-size: 20px;
      line-height: 24px;
    }
    @media (max-width: $max-mobile-size) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__count {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: $text-dark-second-color;

    @media (max-width: $max-mobile-size) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
    padding-bottom: 20px;
    overflow-wrap: anywhere;

    @media (max-width: $max-tablet-size) {
      gap: 12px;
      padding-bottom: 12px;
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $max-mobile-size) {
      gap: 10px;
      padding-bottom: 10px;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

