@import "resources/sass/variables";

.search-background {
  background: linear-gradient(215.53deg, #348EFF -40.83%, #E3F1FF 219.49%) !important;
  height: 232px;

  @media (max-width: $max-tablet-size) {
    height: 172px;
  }

  @media (max-width: $max-mobile-size) {
    height: 127px;
  }

  .ads-search {
    &.focused {
      border: 1px solid transparent;
    }
  }
}

.search-container {

  padding-top: 60px;

  @media (max-width: $max-tablet-size) {
    padding-top: 46px;
  }

  @media (max-width: $max-mobile-size) {
    padding-top: 25px;
  }
}