@import "resources/sass/variables";

.error-page {
  position: absolute;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background: linear-gradient(312.1deg, #348EFF 15.82%, #E3F1FF 119.72%);

  &__search {
    padding-top: 26px;

    @media (max-width: $max-tablet-size) {
      padding-top: 36px;
    }

    @media (max-width: $max-mobile-size) {
      padding-top: 18px;
    }
  }

  &__img {
    padding-top: 52px;
    width: 30%;

    align-self: center;

    @media (max-width: $max-tablet-size) {
      width: 60%;
    }

    @media (max-width: $max-mobile-size) {
      padding-top: 94px;
    }
  }

  &__code {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 128px;
    line-height: 156px;

    align-self: center;

    position: relative;
    bottom: 165px;

    color: $color-white;
    text-shadow: 4px 4px 6px rgba(86, 84, 181, 0.35);

    @media (max-width: $max-mobile-size) {
      font-size: 80px;
      line-height: 98px;

      bottom: 100px;
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: $color-white;

    align-self: center;

    position: relative;
    bottom: 155px;

    text-align: center;

    @media (max-width: $max-mobile-size) {
      font-size: 20px;
      line-height: 24px;

      bottom: 100px;
    }
  }

  &__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;

    color: $color-white;

    align-self: center;

    position: relative;
    bottom: 145px;

    @media (max-width: $max-mobile-size) {
      font-size: 12px;
      line-height: 24px;

      bottom: 90px;
    }
  }

  &__button {
    padding: 16px 30px;

    background: linear-gradient(92.69deg, rgba(255, 255, 255, 0.15) -2.25%, rgba(255, 255, 255, 0.132) 84.89%);

    align-self: center;

    position: relative;
    bottom: 70px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: $color-white;

    border: 1px solid $color-white;
    border-radius: 18px;

    @media (max-width: $max-mobile-size) {
      border-radius: 14px;

      font-size: 16px;
      line-height: 20px;
    }

    &:hover {
      @include default-transition();
      background: linear-gradient(92.69deg, rgba(255, 255, 255, 0.4) -2.25%, rgba(255, 255, 255, 0.352) 84.89%);
      color: $color-white;
    }
    &:focus:hover {
      @include default-transition();
      background: linear-gradient(92.69deg, rgba(255, 255, 255, 0.4) -2.25%, rgba(255, 255, 255, 0.352) 84.89%);
      color: $color-white;
    }
    &:focus {
      @include default-transition();
      color: $color-white;
    }
    &:visited:hover {
      @include default-transition();
      background: linear-gradient(92.69deg, rgba(255, 255, 255, 0.4) -2.25%, rgba(255, 255, 255, 0.352) 84.89%);
      color: $color-white;
    }
  }
}