@import "resources/sass/variables";

//контейнер
.select2-container--default {
  .city-select-2 & {
    width: 180px !important;
    height: 48px !important;
    text-align: left !important;

    @media (max-width: $max-tablet-size) {
      width: 109px !important;
      height: 34px !important;
    }

    @media (max-width: $max-mobile-size) {
      width: 89px !important;
      height: 32px !important;
    }
  }

  .search-sidebar__city & {
    width: 100% !important;
    height: 48px !important;
    text-align: left !important;

    @media (max-width: $max-tablet-size) {
      width: 100% !important;
      height: 40px !important;
    }

    @media (max-width: $max-mobile-size) {
      width: 100% !important;
      height: 32px !important;
    }
  }
}

.select2-container--default .select2-selection--single {
  .city-select-2 & {
    width: 180px !important;
    height: 48px !important;
    background-color: $secondary-accent-color;
    border: 1px solid $secondary-accent-color;
    border-radius: 12px;
    box-shadow: unset;

    padding: 9px 9px 9px 32px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #535456;

    @media (max-width: $max-tablet-size) {
      width: 109px !important;
      height: 34px !important;

      padding: 3px 3px 3px 20px;
      border-radius: 10px;

      font-size: 12px;
    }

    @media (max-width: $max-mobile-size) {
      background-color: $color-white;
      border: 1px solid $color-white;

      width: 89px !important;
      height: 32px !important;

      padding: 1px 0 0 12px;
      border-radius: 6px;

      font-size: 12px;
    }
  }

  .city-select-2--border & {
    @media (max-width: $max-mobile-size) {
      background-color: $color-white;
      border: 1px solid $secondary-accent-color;

      width: 89px !important;
      height: 32px !important;

      padding: 1px 0 0 12px;
      border-radius: 6px;

      font-size: 12px;
    }
  }

  .search-sidebar__city & {
    width: 100% !important;
    height: 48px !important;
    background-color: $color-white;
    border: 1px solid $text-dark-second-color;
    border-radius: 12px;
    box-shadow: unset;

    padding: 9px 9px 9px 32px;

    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #535456;

    @media (max-width: $max-tablet-size) {
      width: 100% !important;
      height: 40px !important;

      padding: 5px 5px 5px 20px;
      border-radius: 10px;

      font-size: 12px;
    }

    @media (max-width: $max-mobile-size) {
      background-color: $color-white;
      border: 1px solid $text-dark-second-color;

      width: 100% !important;
      height: 40px !important;

      padding: 5px 5px 5px 20px;
      border-radius: 10px;

      font-size: 12px;
    }
  }
}

//контейнер фокус
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  .city-select-2 & {
    background-color: $color-white;
    border-radius: 12px;
    border: 1px solid $accent-color;

    @media (max-width: $max-tablet-size) {
      border-radius: 10px;
    }

    @media (max-width: $max-mobile-size) {
      border-radius: 6px;
      border: 1px solid $accent-color;
    }
  }
  .search-sidebar__city & {
    background-color: $color-white;
    border-radius: 12px;
    border: 1px solid $accent-color;

    @media (max-width: $max-tablet-size) {
      border-radius: 10px;
    }

    @media (max-width: $max-mobile-size) {
      border-radius: 10px;
      border: 1px solid $accent-color;
    }
  }
}

//стрелка фокус
.select2-container--default .select2-selection--single[aria-expanded="true"] {
  .select2-selection__arrow {
    .city-select-2 & {
      @include default-transition();
      top: 20px !important;
      right: 10px !important;
      width: 14px !important;
      height: unset !important;
      content: url("../../icon/icon-select.svg") !important;
      transform: rotate(180deg) !important;

      @media (max-width: $max-tablet-size) {
        @include default-transition();

        top: 14px !important;
        right: 8px !important;
        width: 12px !important;
      }

      @media (max-width: $max-mobile-size) {
        @include default-transition();

        top: 13px !important;
        right: 4px !important;
        width: 10px !important;
      }
    }

    .search-sidebar__city & {
      @include default-transition();
      top: 20px !important;
      right: 10px !important;
      width: 14px !important;
      height: unset !important;
      content: url("../../icon/icon-select.svg") !important;
      transform: rotate(180deg) !important;

      @media (max-width: $max-tablet-size) {
        @include default-transition();

        top: 14px !important;
        right: 8px !important;
        width: 12px !important;
      }

      @media (max-width: $max-mobile-size) {
        @include default-transition();

        top: 15px !important;
        right: 10px !important;
        width: 14px !important;
      }
    }
  }
}

//стрелка дефолт
.select2-container--default .select2-selection--single[aria-expanded="false"] {
  .select2-selection__arrow {
    .city-select-2 & {

      @include default-transition();
      top: 20px !important;
      right: 10px !important;
      width: 14px !important;
      height: unset !important;
      content: url("../../icon/icon-select.svg") !important;

      @media (max-width: $max-tablet-size) {
        @include default-transition();

        top: 14px !important;
        right: 8px !important;
        width: 12px !important;
      }

      @media (max-width: $max-mobile-size) {
        @include default-transition();

        top: 13px !important;
        right: 4px !important;
        width: 10px !important;
      }
    }
    .search-sidebar__city & {
      @include default-transition();
      top: 20px !important;
      right: 10px !important;
      width: 14px !important;
      height: unset !important;
      content: url("../../icon/icon-select.svg") !important;

      @media (max-width: $max-tablet-size) {
        @include default-transition();

        top: 16px !important;
        right: 8px !important;
        width: 12px !important;
      }

      @media (max-width: $max-mobile-size) {
        @include default-transition();

        top: 15px !important;
        right: 10px !important;
        width: 14px !important;
      }
    }
  }
}

//выпадающий список
.select2-dropdown.city-select-2.select2-dropdown--below {
  min-width: 262px;
  background: #fff;
  box-shadow: 0 1px 23px rgb(171 180 195 / 49%);
  border-radius: 0 8px 8px 8px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;

  margin-left: -5px;

  border: unset;

  @media (max-width: $max-mobile-size) {
    margin-left: -10.9rem;
    margin-top: 2px;
    border-radius: 8px 0 8px 8px;
  }
}

.select2-dropdown.sidebar-city-select-2.select2-dropdown--below {
  min-width: 262px;
  background: #fff;
  box-shadow: 0 1px 23px rgb(171 180 195 / 49%);
  border-radius: 0 8px 8px 8px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;

  margin-left: -5px;

  border: unset;

  @media (max-width: $max-mobile-size) {
    margin-top: 10px;
    margin-left: unset;
    border-radius: 0 8px 8px 8px;
  }
}

.select2-dropdown.sidebar-city-select-2.select2-dropdown--above {
  min-width: 262px;
  background: #fff;
  box-shadow: 0 1px 23px rgb(171 180 195 / 49%);
  border-radius: 8px 8px 8px 0;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;

  margin-left: -5px;

  border: unset;

  @media (max-width: $max-mobile-size) {
    margin-top: 10px;
    margin-left: unset;
    border-radius: 0 8px 8px 8px;
  }
}

.select2-container--open .select2-dropdown--above {
  z-index: 10000;
  background: #fff;
  border-right: 1px solid #abb4c3;
  border-left: 1px solid #abb4c3;
  border-top: 1px solid #abb4c3;
  border-radius: 12px 12px 0 0;
  margin-left: 1.8px;

  @media (max-width: $max-mobile-size) {
    border-top: none;
    border-right: 1px solid #abb4c3;
    border-left: 1px solid #abb4c3;
    border-bottom: 1px solid #abb4c3 !important;
    border-radius: 0 0 12px 12px !important;
  }
}

.select2-container--open .select2-dropdown--below {
  margin-left: 1.8px;
}

.select2-dropdown {
  min-width: 262px;
  background: #fff;
  box-shadow: 0 1px 23px rgb(171 180 195 / 49%);
  border-radius: 0 8px 8px 8px;
  max-height: 400px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: hidden;

  margin-left: -5px;

  border: unset;

  @media (max-width: $max-mobile-size) {
    margin-left: unset;
    border-radius: 0 8px 8px 8px;
  }
}

// строка поиска
.select2-search__field {
  .select2-dropdown.city-select-2.select2-dropdown--below & {
    height: 32px !important;
  }

  .select2-dropdown.sidebar-city-select-2.select2-dropdown--below & {
    height: 32px !important;
  }
}

// выбранный элемент списка
.select2-results__option[aria-selected="true"] {
  .select2-dropdown.city-select-2.select2-dropdown--below & {
    color: $text-dark-color;
    font-weight: 600;
    background-color: $color-white;
  }

  .select2-dropdown.sidebar-city-select-2.select2-dropdown--below & {
    color: $text-dark-color;
    font-weight: 600;
    background-color: $color-white;
  }
}

//элемент списка
.select2-results__option {
  .select2-dropdown.city-select-2.select2-dropdown--below & {
    &:hover {
      @include default-transition();
      color: $accent-color;
    }
  }

  .select2-dropdown.sidebar-city-select-2.select2-dropdown--below & {
    &:hover {
      @include default-transition();
      color: $accent-color;
    }
  }
}

.select2-results__options {
  scrollbar-color: $accent-color #00000000;
  scrollbar-width: thin;
}

//элемент списка, выбран/ховер
.select2-results__option.select2-results__option--highlighted {
  .select2-dropdown.city-select-2.select2-dropdown--below & {
    background-color: $color-white;
  }

  .select2-dropdown.sidebar-city-select-2.select2-dropdown--below & {
    background-color: $color-white;
  }
}

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single {
  border-radius: 12px 12px 0 0 !important;
}

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single {
  @media (max-width: $max-mobile-size) {
    border-radius: 12px 12px 0 0 !important;
  }
}