@import "resources/sass/variables";

.saved-search {

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 18px;
    }
  }

  &__subtitle {
    font-size: 14px;
    line-height: 17px;

    color: $text-dark-second-color;

    padding-top: 8px;

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;

    margin-bottom: 8px;

    padding: 24px 20px;
    background-color: $color-white;

    box-shadow: -2px -1px 4px rgba(166, 166, 166, 0.12), 2px 4px 5px rgba(0, 0, 0, 0.07);
    border-radius: 8px;

    @media (max-width: $max-tablet-size) {
      padding: 14px 12px;
    }

    &-container {
      padding-top: 20px;

      @media (max-width: $max-tablet-size) {
        padding-top: 16px;
      }
    }
  }
}

.saved-search-item {

  &__title {
    font-size: 14px;
    line-height: 17px;

    color: $text-dark-color;

    @media (max-width: 991px) {
      font-size: 12px;
    }

    &:hover {
      @include default-transition();
      color: $accent-color;
    }
    &:visited {
      @include default-transition();
      color: $text-dark-color;
    }
    &:visited:hover {
      @include default-transition();
      color: $accent-color;
    }
    &:focus {
      @include default-transition();
      color: $accent-color;
    }
    &:focus:hover {
      @include default-transition();
      color: $accent-color;
    }
  }

  &__count-and-delete {
    display: flex;
    flex-direction: row;
    gap: 28px;
    align-items: center;

    @media (max-width: $max-tablet-size) {
      gap: 20px;
    }

    @media (max-width: $max-mobile-size) {
      gap: 10px;
    }
  }

  &__count {
    font-size: 14px;
    line-height: 14px;

    color: $accent-color;

    span {
      @media (max-width: $max-tablet-size) {
        display: none;
      }
    }

    @media (max-width: 991px) {
      font-size: 12px;
    }
  }
  &__delete {

    @media (max-width: 991px) {
    }
  }
}