@import "resources/sass/variables";

.categories-page-item {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (max-width: $max-tablet-size) {
    gap: 8px;
  }

  &__maincat {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
  }

  &__maincat-icon {

  }

  &__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    color: $accent-color;

    @media (max-width: $max-tablet-size) {
      font-size: 16px;
    }
  }

  &__collapse {
    padding: 0 8px;
    cursor: pointer;

    &.collapsed {
      transform: rotate(180deg);
    }
  }

  &__subcats {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__subcat-title {
    width: fit-content;
    font-size: 16px;
    line-height: 121%;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 14px;
      line-height: 121%;
    }

    &:hover {
      @include default-transition();
      color: $accent-color;
    }
    &:focus {
      @include default-transition();
      color: $accent-color;
    }
    &:visited {
      @include default-transition();
      color: $text-dark-color;
    }
    &:focus:hover {
      @include default-transition();
      color: $accent-color;
    }
    &:visited:hover {
      @include default-transition();
      color: $accent-color;
    }
  }
}