@import "resources/sass/variables";

.categories-page-go-home {

  &__title {
    padding: 24px 4px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    width: fit-content;

    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: $accent-color;

    &:hover, &:hover:focus{
      @include default-transition();
      color: $hover-accent-color;

      img {
        filter: invert(14%) sepia(25%) saturate(7450%) hue-rotate(204deg) brightness(114%) contrast(101%);
      }
    }

    &:focus {
      @include default-transition();
      color: $accent-color;
    }

    & > img {
      filter: invert(51%) sepia(80%) saturate(3095%) hue-rotate(195deg) brightness(100%) contrast(102%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

  }
}

.categories-page {

  display: flex;
  flex-direction: column;

  @media (max-width: $max-mobile-size) {
    padding-top: 52px;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 37px;

    color: $text-dark-color;

    padding-top: 12px;

    @media (max-width: $max-tablet-size) {
      font-size: 20px;
      line-height: 152.9%;
    }

    @media (max-width: $max-tablet-size) {
      font-size: 18px;
      line-height: 152.9%;
    }
  }

  &__container {
    padding-top: 24px;
    padding-bottom: 70px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    grid-auto-flow: dense;

    @media (max-width: $max-tablet-size) {
      grid-template-columns: repeat(2, 1fr);
      padding-top: 20px;
    }

    @media (max-width: $max-mobile-size) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__column-3 {
    display: flex;
    flex-direction: column;
    gap: 80px;

    @media (max-width: $max-tablet-size) {
      display: none;
    }
  }

  &__column-2 {
    display: none;
    flex-direction: column;
    gap: 32px;

    @media (max-width: $max-tablet-size) {
      display: flex;
    }

    @media (max-width: $max-mobile-size) {
      display: none;
    }
  }

  &__column-1 {
    display: none;
    flex-direction: column;
    gap: 32px;

    @media (max-width: $max-mobile-size) {
      display: flex;
    }
  }
}