@import "resources/sass/variables";
@import "resources/sass/components/post-card/hover-mixin";

.post-compact-item {
  padding: 20px;

  width: 100%;

  position: relative;

  background-color: $color-white;
  box-shadow: -2px -1px 4px rgba(166, 166, 166, 0.12), 2px 4px 5px rgba(0, 0, 0, 0.07);
  border-radius: 8px;

  @media (max-width: $max-tablet-size) {
    padding: 12px;
  }

  &__container {
    display: flex;
    flex-direction: row;

    @media (max-width: $max-mobile-size) {
      flex-direction: column;
    }
  }

  &__title {
    width: 50%;

    font-weight: 600;
    font-size: 20px;
    line-height: 16px;

    color: $text-dark-color;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    padding-right: 18px;
    
    @media (max-width: $max-tablet-size) {
      font-size: 14px;
      padding-right: 5px;
    }
    
    @media (max-width: $max-mobile-size) {
      font-size: 14px;
      width: 95%;
    }

    &:hover {
      @include default-transition();
      color: $text-dark-color;
    }
    &:visited {
      @include default-transition();
      color: $text-dark-color;
    }
    &:focus {
      @include default-transition();
      color: $text-dark-color;
    }
    &:focus:hover {
      @include default-transition();
      color: $text-dark-color;
    }
  }

  &__loc-date-view {
    width: 50%;

    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (max-width: $max-tablet-size) {
      gap: 8px;
      width: 50%;
    }

    @media (max-width: $max-mobile-size) {
      flex-direction: row;
      width: 100%;
      padding-top: 8px;
    }
  }

  &__loc {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    flex-direction: row;
    gap: 5px;
    width: max-content;
    align-items: center;

    color: $text-dark-color;

    img {
      filter: invert(33%) sepia(0%) saturate(1028%) hue-rotate(285deg) brightness(93%) contrast(88%);
    }

    @include post-card-loc-hover();
  }

  &__date-view {
    display: flex;
    flex-direction: row;
    gap: 18px;

    @media (max-width: $max-tablet-size) {
      gap: 12px;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: $text-dark-second-color;

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
    }
  }

  &__view {
    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: $text-dark-second-color;
  }

  &__price {
    width: 40%;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 14px;
    text-align: end;
    padding-right: 40px;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 14px;
    }

    @media (max-width: $max-mobile-size) {
      width: 100%;
      padding-top: 16px;
      text-align: start;
    }
  }

  &__like {
    position: absolute;

    top: 14px;
    right: 16px;

    @media (max-width: $max-tablet-size) {
      top: 7px;
      right: 12px;
    }

    @media (max-width: $max-mobile-size) {
      top: 8px;
      right: 12px;
    }

    .like-hover, .like-hover--active {
      width: 24px;
      height: 24px;
    }

    &--list {
      top: 14px;
      right: 16px;

      @media (max-width: $max-tablet-size) {
        top: 7px;
        right: 12px;
      }

      @media (max-width: $max-mobile-size) {
        top: 8px;
        right: 12px;
      }
    }
  }
}