@import "resources/sass/variables";
@import "resources/sass/components/post-card/hover-mixin";

.post-grid-item {
  padding: 12px;
  width: 100%;
  background: $color-white;
  box-shadow: -2px -1px 4px rgba(166, 166, 166, 0.12), 2px 4px 5px rgba(0, 0, 0, 0.07);
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  position: relative;

  @media (max-width: $max-tablet-size) {
    padding: 10px;
    width: 100%;
  }

  @media (max-width: $max-mobile-size) {
    padding: 8px;
    width: 100%;
  }

  &__image-container {
    border-radius: 3px;
    width: 100%;
    height: 100%;

    align-self: end;

    @media (max-width: $max-tablet-size) {
      max-width: 100%;
    }

    @media (max-width: $max-mobile-size) {
      max-width: 100%;
    }
  }

  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    border-radius: 3px;
    overflow: hidden;

    @media (max-width: $max-tablet-size) {
      max-width: 100%;
    }

    img{
      width: 100%;
      object-fit:cover;
      @media (max-width: $max-mobile-size) {
        padding: 6px;
        width: 100%;
      }
    }
  }

  &__title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 46px;

    padding-top: 21px;

    @media (max-width: $max-tablet-size) {
      padding-top: 13px;
    }
  }

  &__title {
    width: 100%;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;

    min-height: 28px;

    & span {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      padding-bottom: 4px;
      overflow-wrap: anywhere;
    }

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 14px;
    }
    @media (max-width: $max-mobile-size) {
      font-size: 14px;
    }

    &:hover {
      color: $text-dark-color;
    }
    &:visited {
      color: $text-dark-color;
    }
    &:focus {
      color: $text-dark-color;
    }
    &:focus:hover {
      color: $text-dark-color;
    }
  }

  &__like {
    @media (max-width: $max-mobile-size) {
      display: none;
    }

    &--mobile {
      display: none;

      @media (max-width: $max-mobile-size) {
        display: unset;
      }
    }
  }

  &__location {
    align-self: flex-start;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    flex-direction: row;
    gap: 5px;

    padding-top: 14px;

    color: $text-dark-color;

    img {
      filter: invert(33%) sepia(0%) saturate(1028%) hue-rotate(285deg) brightness(93%) contrast(88%);
    }

    @include post-card-loc-hover();
  }

  &__price {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 14px;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 16px;
    }

    @media (max-width: $max-mobile-size) {
      font-size: 16px;
    }
  }

  &__date-view-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;

    padding-top: 6px;

    @media (max-width: $max-tablet-size) {
      padding-top: 4px;
    }

    @media (max-width: $max-mobile-size) {
      flex-direction: column;
      align-items: flex-start;

      padding-top: 0;
    }
  }

  &__view {
    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: $text-dark-second-color;
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: $text-dark-second-color;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 12px;
    padding-top: 21px;

    @media (max-width: $max-tablet-size) {
      padding-top: 19px;
    }

    @media (max-width: $max-mobile-size) {
      padding-top: 8px;
    }
  }
}