@import "resources/sass/variables";

@mixin post-card-loc-hover {
  &:hover, &:focus:hover {
    @include default-transition();
    color: $accent-color;
    img {
      filter: invert(45%) sepia(68%) saturate(1923%) hue-rotate(195deg) brightness(99%) contrast(105%);
    }
  }
  &:focus {
    @include default-transition();
    color: $text-dark-color;
    img {
      filter: invert(33%) sepia(0%) saturate(1028%) hue-rotate(285deg) brightness(93%) contrast(88%);
    }
  }
}