@import "resources/sass/variables";

.like-hover {
  @include default-transition();
  object-fit: fill;
  height: 25px;
  width: 25px;

  filter: invert(31%) sepia(8%) saturate(147%) hue-rotate(181deg) brightness(94%) contrast(86%);

  @media (min-width: $max-mobile-size) {
    height: 30px;
    width: 30px;

    &:hover {
      filter: invert(76%) sepia(29%) saturate(6452%) hue-rotate(309deg) brightness(109%) contrast(107%);
    }
  }

  &--active {
    height: 30px;
    width: 30px;

    filter: invert(63%) sepia(56%) saturate(2925%) hue-rotate(313deg) brightness(115%) contrast(100%);

    @media (max-width: $max-mobile-size) {
      height: 25px;
      width: 25px;
    }
  }
}