@import "resources/sass/variables";
@import "resources/sass/components/post-card/hover-mixin";

.post-list-item {
  padding: 24px;
  width: 100%;

  position: relative;

  background-color: $color-white;
  box-shadow: -2px -1px 4px rgba(166, 166, 166, 0.12), 2px 4px 5px rgba(0, 0, 0, 0.07);
  border-radius: 8px;

  position: relative;

  @media (max-width: $max-tablet-size) {
    padding: 12px;
  }

  @media (max-width: $max-mobile-size) {
    padding: 8px;
  }

  &__mask {
    border-radius: 8px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: $mask-white;

    z-index: 1;
  }

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__image-container {
    width: 40%;

    @media (max-width: $max-tablet-size) {
      width: 35%;
    }

    @media (max-width: $max-mobile-size) {
      width: 40%;
    }
  }

  &__information-container {
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;

    @media (max-width: $max-tablet-size) {
      padding-left: 11px;
    }

    @media (max-width: $max-mobile-size) {
      padding-left: 11px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-right: 80px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 14px;
      padding-right: 80px;
    }
    @media (max-width: $max-mobile-size) {
      font-size: 14px;
      padding-right: 80px;
    }

    &:hover {
      @include default-transition();
      color: $accent-color;
    }

    &:visited {
      @include default-transition();
      color: $text-dark-color;
    }

    &:visited:hover {
      @include default-transition();
      color: $accent-color;
    }

    &:focus {
      @include default-transition();
      color: $accent-color;
    }

    &:focus:hover {
      @include default-transition();
      color: $accent-color;
    }
  }

  &__loc-date-view {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: flex-start;

    gap: 18px;

    padding: 20px 0 16px 0;
    
    @media (max-width: $max-tablet-size) {
      padding-top: 12px;
      gap: 10px;
    }
    
    @media (max-width: $max-mobile-size) {
      padding-top: 4px;
      flex-direction: column;
      align-items: baseline;
      gap: 0;
    }
  }

  &__loc {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    display: flex;
    flex-direction: row;
    gap: 5px;

    align-items: center;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
    }

    @media (max-width: $max-mobile-size) {
    }

    img {
      filter: invert(33%) sepia(0%) saturate(1028%) hue-rotate(285deg) brightness(93%) contrast(88%);
    }

    @include post-card-loc-hover();
  }

  &__date-view {
    display: flex;
    flex-direction: row;

    gap: 18px;

    @media (max-width: $max-tablet-size) {
      gap: 10px;
    }

    @media (max-width: $max-mobile-size) {
      gap: 12px;
    }
  }

  &__date {
    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: $text-dark-second-color;

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
    }
  }

  &__view {
    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: $text-dark-second-color;
  }

  &__description {
    font-weight: 300;
    font-size: 12px;
    line-height: 125.02%;

    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
    }

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      display: none;
    }
  }

  &__price {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 14px;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 14px;
    }
  }

  &__like {
    position: absolute;
    top: 24px;
    right: 24px;

    @media (max-width: $max-tablet-size) {
      top: 12px;
      right: 12px;
    }

    @media (max-width: $max-mobile-size) {
      top: 8px;
      right: 8px;
    }
  }

  &__buttons-container {
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 2;

    display: grid;
    grid-template-areas: "info buttons";
    align-items: center;
    gap: 18px;

    @media (max-width: $max-tablet-size) {
      top: 12px;
      right: 12px;
      grid-template-areas: "buttons" "info";
      gap: 8px;
    }

    @media (max-width: $max-mobile-size) {
      gap: 4px;
    }
  }

  &__buttons {
    grid-area: buttons;

    @media (max-width: $max-tablet-size) {
      justify-self: flex-end;
    }
  }

  &__moderation {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    grid-area: info;

    color: $text-dark-color;

    padding: 8px 12px;

    background-color: $secondary-accent-color;
    border-radius: 12px;

    &:hover,:hover:focus {
      color: $accent-color;
    }

    &:focus {
      color: $text-dark-color;
    }

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
      line-height: 15px;

      padding: 6px 10px;

      border-radius: 8px;
    }

    &--reject {
      background-color: $alert-js-error-second;
    }
  }
}