@import "../../variables";

.footer {
  &__help {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: $text-dark-color;

    &:hover {
      @include default-transition();
      color: $accent-color;
    }

    &:focus {
      @include default-transition();
      color: $text-dark-color;
    }

    &:hover:focus {
      @include default-transition();
      color: $accent-color;
    }
  }
}

.bottom-buttons {
  pointer-events: none;

  @media (min-width: $min-tablet-size) {
    justify-content: flex-end;
  }

  &__add-new-post {
    pointer-events: auto;
    cursor: pointer;

    @media (min-width: $min-tablet-size) {
      display: none;
    }
  }

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  position: fixed;
  bottom: 28px;
  width: 100%;

  &--only-top-btn {
    justify-content: flex-end;

    @media (max-width: $max-mobile-size) {
      right: 28px;
    }
  }

  &__back-to-top {
    pointer-events: auto;
    display: flex;
    width: 40px;
    height: 40px;
    cursor: pointer;

    background-color: $color-white;
    border-radius: 8px;
    box-shadow: -2px -1px 4px rgba(166, 166, 166, 0.12), 2px 4px 5px rgba(0, 0, 0, 0.07);

    @media (min-width: $min-tablet-size) {
      position: relative;
      right: 48px;
    }
  }
}

.buttons-container {
  height: 40px;
  background-color: transparent;
}

.footer-data {
  padding: 40px 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #F3F4F7;
}

.main-footer {
  width: 100%;
}

.footer-categories {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;

  padding-top: 25px;
  gap: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: $text-dark-color;

  &__item {
    width: auto;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (max-width: 1199px) {
    max-width: 980px;
  }

  @media (max-width: 1090px) {
    max-width: 940px;
  }

  @media (max-width: 1050px) {
    max-width: 890px;
  }

  @media (max-width: 950px) {
    max-width: 800px;
  }

  @media (max-width: 880px) {
    max-width: 760px;
  }

  @media (max-width: 810px) {
    max-width: 700px;
  }

  @media (max-width: $max-mobile-size) {
    max-width: 100%;
  }

  & > a:hover {
    @include default-transition();
    color: $accent-color;
  }

  & > a:hover:visited {
    @include default-transition();
    color: $accent-color;
  }

  & > a:hover:focus {
    @include default-transition();
    color: $accent-color;
  }

  & > a:hover:link {
    @include default-transition();
    color: $accent-color;
  }

  & > a:link, a:active, a:visited {
    @include default-transition();
    color: $text-dark-color;
  }
}