@import "resources/sass/variables";

.account-go-home {
  display: none;

  @media (max-width: $max-mobile-size) {
    display: block;

    padding-bottom: 19px;
  }

  &__title {
    padding: 8px 8px 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: $accent-color;

    img {
      filter: invert(51%) sepia(80%) saturate(3095%) hue-rotate(195deg) brightness(100%) contrast(102%);
    }

    &:hover, &:hover:focus {
      @include default-transition();
      color: $hover-accent-color;

      img {
        filter: invert(14%) sepia(25%) saturate(7450%) hue-rotate(204deg) brightness(114%) contrast(101%);
      }
    }

    &:focus {
      @include default-transition();
      color: $accent-color;
    }

    & > img {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}

