@import "resources/sass/variables";

.edit-profile {

  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 12px 16px 12px;
    border: 1px solid $secondary-accent-color;
    border-radius: 8px;

    @media (min-width: $min-tablet-size) {
      padding: 1px 7px 12px;
      border: none;
      border-bottom: 1px solid $divider-color;
    }
  }

  &__name-and-date {
    display: flex;
    flex-direction: column;
    gap: 7px;
    justify-content: space-between;

    @media (min-width: $min-tablet-size) {
      flex-direction: row;
      gap: 0;
    }

    @media (min-width: $max-tablet-size) {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__user-name {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $text-dark-color;
  }

  &__last-login {
    display: flex;
    gap: 10px;
    align-items: center;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $text-dark-second-color;

    img {
      filter: $svg-password-color;
      width: 16px;
      height: 16px;
    }
  }

  &__stats-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 6px;

    @media (min-width: $max-tablet-size) {
      display: flex;
      gap: 20px;
    }
  }

  &__stats-item {
    display: flex;
    align-items: center;
    gap: 6px;

    @media(width: $max-tablet-size) {
      gap: 10px;
    }

    p {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: $text-dark-second-color;
      margin: 0;
    }

    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: $text-dark-color;
    }

    img {
      filter: $svg-password-color;
      width: 16px;
      height: 16px;
      object-fit: fill;
    }
  }

  &__block {
    padding: 24px;
  }

  &__block-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      color: $text-dark-color;

      @media (min-width: $max-tablet-size) {
        font-size: 20px;
      }
  }

  &__avatar {
    height: 72px;
    width: 72px;
    position: relative;
  }

  &__avatar-img {
    border-radius: 8px;
    width: 72px;
    height: 72px;
    object-fit: cover;
    max-width: none;
  }

  &__file-input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__add-avatar {
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: 4px;
    display: flex;
    cursor: pointer;

    background-color: $accent-color;

    img {
      filter: $svg-white-color;
    }

    &:hover {
      @media (min-width: $max-mobile-size) {
        @include default-transition();
        background: $color-white;

        img {
          filter: $svg-accent-color;
        }
      }
    }

    & > * {
      width: 18px;
      height: 18px;

      @media (max-width: $max-tablet-size) {
        width: 16px;
        height: 16px;
      }
    }

  }
}