@import "resources/sass/variables";

.account-posts {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 20px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 18px;
    }
  }

  &__count {
    font-size: 14px;
    line-height: 14px;

    color: $text-dark-second-color;

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
    }

    @media (max-width: $max-mobile-size) {
      display: none;
    }

    &--mobile {
      display: none;

      @media (max-width: $max-mobile-size) {
        display: block;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;

    width: 100%;

    padding-top: 32px;

    @media (max-width: $max-mobile-size) {
      flex-direction: column;
    }
  }

  &__search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 45%;

    padding-left: 20px;

    background-color: $color-white;

    border: 1px solid #E3F1FF;
    border-radius: 12px;

    @media (max-width: $max-tablet-size) {
      width: 65%;
    }

    @media (max-width: $max-mobile-size) {
      width: 100%;
    }

    & input {
      border: 0;
      width: 100%;
      padding: 14px 0 14px 0;

      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: $text-color;

      @media (max-width: $max-tablet-size) {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        padding: 2px 0 2px 16px;
      }

      @media (max-width: $max-mobile-size) {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        padding: 2px 0;
      }
    }

    & button {
      min-height: 34px;
      min-width: 34px;
      max-height: 34px;
      max-width: 34px;
      margin: 5px;
      border: 0;
      background: $secondary-accent-color;
      border-radius: 8px;
    }
  }

  &__delete-and-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;

    @media (max-width: $max-mobile-size) {
      padding-top: 16px;
      width: 100%;
    }
  }

  &__delete-all {
    font-size: 14px;
    line-height: 14px;

    color: $color-red;

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
    }

    &:hover {
      @include default-transition();
      color: $color-red;
    }

    &:focus {
      @include default-transition();
      color: $color-red;
    }

    &:focus:hover {
      @include default-transition();
      color: $color-red;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media (max-width: $max-tablet-size) {
      gap: 8px;
    }

    @media (max-width: $max-mobile-size) {
      padding-top: 0;
    }
  }
}


.my-posts {



  &__edit-button {
    &:hover {
      @include default-transition();
      filter: $svg-accent-color;
    }
    &:focus {
      @include default-transition();
      filter: $svg-accent-color;
    }
    &:focus:hover {
      @include default-transition();
      filter: $svg-accent-color;
    }
  }

  &__archive-button {
    &:hover {
      @include default-transition();
      filter: $svg-accent-color;
    }
    &:focus {
      @include default-transition();
      filter: $svg-accent-color;
    }
    &:focus:hover {
      @include default-transition();
      filter: $svg-accent-color;
    }
  }

  &__restore-button {
    &:hover {
      @include default-transition();
      filter: $svg-accent-color;
    }
    &:focus {
      @include default-transition();
      filter: $svg-accent-color;
    }
    &:focus:hover {
      @include default-transition();
      filter: $svg-accent-color;
    }
  }
}