@import "resources/sass/variables";

.profile-panel-box {
  display: none;
  background: #FFFFFF;
  box-shadow: -2px -1px 4px rgba(166, 166, 166, 0.12), 2px 4px 5px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
  padding: 15px 8px;

  @media (min-width: $min-tablet-size) {
    display: block;
  }
}

.profile-panel-sidebar {

}

.profile-collapse-box {
  padding: 0 11px;
  border-bottom: 1px solid #EEEEEE;

  &:last-child {
    border-bottom: none;
  }

  &__title {
    display: flex;
    justify-content: space-between;

    & > a img {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-transition: all ease 0.2s;
      -moz-transition: all ease 0.2s;
      -o-transition: all ease 0.2s;
      transition: all ease 0.2s;
    }

    & > a[aria-expanded="true"] img {
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  &__title-text {
    display: flex;
    gap: 2px;
    width: 100%;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #535456;
    align-items: center;

    img {
      width: 23px;
      object-fit: scale-down;
    }
  }

  &__to-main {
    display: flex;
    align-items: center;
    gap: 13px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #348EFF;

    img {
      filter: $svg-accent-color;
    }

    &:hover {
      @include default-transition();
      color: $hover-accent-color;

      img {
        @include default-transition();
        filter: invert(14%) sepia(79%) saturate(2715%) hue-rotate(205deg) brightness(102%) contrast(100%);
      }
    }

    &:focus {
      color: $accent-color;
    }

    &:focus:hover {
      color: $hover-accent-color;

      img {
        filter: invert(14%) sepia(79%) saturate(2715%) hue-rotate(205deg) brightness(102%) contrast(100%);
      }
    }
  }

  &__list {
    ul {
      display: flex;
      flex-direction: column;
      gap: 9px;

      @media(min-width: $max-tablet-size) {
        gap: 12px;
      }
    }

    a {
      display: flex;
      justify-content: space-between;

      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $text-dark-color;

      &:hover {
        @include default-transition();
        color: $accent-color;
      }

      &:hover, &:focus {
        @include default-transition();
        color: $accent-color;
      }

      &:hover {
        .profile-collapse-box__list-count {
          @include default-transition();
          color: $accent-color;
        }
      }
    }

    .active {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $accent-color;

      .profile-collapse-box__list-count {
        color: $accent-color;
      }
    }
  }

  &__list-count {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;

    padding: 1px 8px;
    border-radius: 4px;


    &--messenger {
      background: $secondary-accent-color;
    }
  }
}


.icon-back {
  position: relative;

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 1.2px;
    border-left: 1px solid #535456;
    border-bottom: 1px solid #535456;
    transform: rotate(-45deg);
  }
}
