@import "resources/sass/variables";

.profile-inner-box {
  background: #FFFFFF;
  border-radius: 8px;
  padding: 32px 36px;
  height: 100%;

  @media (min-width: $min-tablet-size) {
    box-shadow: -2px -1px 4px rgba(166, 166, 166, 0.12), 2px 4px 5px rgba(0, 0, 0, 0.07);
  }
}

.profile-inner-box-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  align-items: flex-end;
  letter-spacing: -0.02em;
  color: #535456;
}




.profile-text {
  &--desctop {
    display: none;
    margin: 0;

    @media (min-width: $min-tablet-size) {
      display: block;
    }
  }

  &--mobile {
    display: block;
    margin: 0;

    @media (min-width: $min-tablet-size) {
      display: none;
    }
  }
}

