@import "resources/sass/variables";

.breadcrumbs {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  color: $text-dark-second-color;

  @media (min-width: $min-tablet-size) {
    font-size: 12px;
  }

  @media (min-width: $max-tablet-size) {
    font-size: 14px;
  }

  &-item {
    padding: 2px 0;

    & + .breadcrumbs-item {
      padding-left: 0.2em;
      word-break: break-all;
    }

    & + .breadcrumbs-item::before {
      float: left;
      padding-right: 0.2rem;
      color: $text-dark-second-color;
      content: var(--bs-breadcrumb-divider, "/") /* rtl: var(--bs-breadcrumb-divider, "/") */
    ;
    }

    &.active a {
      cursor: default;
      color: $accent-color !important;
    }

    a:link, a:active, a:visited {
      color: $text-dark-second-color;
    }

    a:hover {
      @include default-transition();
      color: $accent-color;
    }

    &:last-child {
      cursor: default;

      a {
        cursor: default;
        color: $accent-color !important;
      }

      a:link, a:active, a:visited {
        color: $text-dark-second-color;
      }

      a:hover {
        @include default-transition();
        color: $accent-color;
      }
    }
  }

  &--scrollbar {
    display: flex;
    overflow: scroll;
    flex-wrap: nowrap;
    scroll-padding: 0;
    white-space: nowrap;
    gap: 3px;

    li {
      width: max-content;
      flex-shrink: 0;

      &:first-child {
        margin-left: 0;
      }
    }

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }
  }
;
}