@import "resources/sass/variables";

.categiries-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-bottom: 25px;

  @media (max-width: $max-mobile-size) {
    padding-top: 16px;
    padding-bottom: 17px;
  }

  &__info-container {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 18px;

    width: 0;

    @media (max-width: $max-mobile-size) {
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 5px;
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 65%;

    align-self: center;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 20px;
      line-height: 24px;
      width: 55%;
    }

    @media (max-width: $max-mobile-size) {
      align-self: flex-start;
      width: 100%;
    }
  }

  &__ads-count {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    white-space: nowrap;

    color: $text-dark-second-color;

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__action {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 18px;

    @media (max-width: $max-mobile-size) {
      gap: 5px;
      align-items: end;
    }
  }

  &__set-view {

    display: flex;
    gap: 8px;

    @media (max-width: $max-mobile-size) {
      display: none;
    }

    &--mobile {
      display: none;

      @media (max-width: $max-mobile-size) {
        display: unset;
      }
    }
  }

  &__filter {
    display: none;

    @media (max-width: $max-mobile-size) {
      display: unset;

      & > img {
        width: 28px;
        height: 28px;
      }
    }
  }

}

.sort-mobile-icon {
  & > img {
    width: 28px;
    height: 28px;
  }
}