@import "resources/sass/variables";

.search-filter {

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;

  &__scroll-bar {
    height: 250px;
    overflow-y: scroll;
    position: relative;
  }

  &__input-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 6px;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 14px;
      line-height: 15px;
    }
  }
}

#daterange-container {
  position: absolute;
  width: 100vw;
}