@import "resources/sass/variables";

.promo-card {
  display: flex;
  flex-direction: column;

  margin-top: 24px;

  padding: 32px 16px 40px 16px;

  background-color: $color-white;
  box-shadow: -2px -1px 4px rgba(166, 166, 166, 0.12), 2px 4px 5px rgba(0, 0, 0, 0.07);
  border-radius: 8px;

  @media (max-width: $max-tablet-size) {
    padding: 32px 8px 40px 8px;
  }

  @media (max-width: $max-mobile-size) {
    display: none;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 14px;
      line-height: 15px;
    }
  }

  &__text {
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    padding-top: 8px;
    padding-bottom: 24px;

    color: $text-dark-color;
  }

  &__button {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }
}
