@import "resources/sass/variables";

.ads-search-container {
  padding-top: 24px;

  @media (max-width: $max-mobile-size) {
    display: none;
  }
}

.breadcrumbs-container {
  padding: 52px 0 24px 0;

  @media (max-width: $max-tablet-size) {
    padding: 30px 0 6px 0;
  }
}

.search-posts--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  padding-bottom: 20px;

  @media (max-width: $max-tablet-size) {
    gap: 12px;
    padding-bottom: 12px;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $max-mobile-size) {
    gap: 10px;
    padding-bottom: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.search-posts--list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;

  @media (max-width: $max-tablet-size) {
    gap: 8px;
    padding-bottom: 8px;
  }
  
  @media (max-width: $max-mobile-size) {
    gap: 8px;
    padding-bottom: 8px;
  }
}

.search-posts--compact {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 8px;

  @media (max-width: $max-tablet-size) {
    padding-bottom: 8px;
    gap: 8px;
  }

  @media (max-width: $max-mobile-size) {
    padding-bottom: 8px;
    gap: 8px;
  }
}

.search-order-filter {
  &--desktop {
    display: unset;

    @media (max-width: $max-mobile-size) {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @media (max-width: $max-mobile-size) {
      display: unset;
    }
  }
}