@import "resources/sass/variables";

.text-with-arrow {
  @include default-transition();
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $text-dark-color;
  cursor: pointer;

  @media (max-width: $max-mobile-size) {
    justify-content: flex-start;

    & > img {
      padding-left: 14px;
    }
  }
}

.search-sidebar-arrow {
  @include default-transition();
  transform: rotate(0deg);
}

.search-sidebar-arrow--active {
  @include default-transition();
  transform: rotate(180deg);

}

.search-sidebar--active {
  display: none;
}

.search-sidebar {
  padding: 8px 16px 40px 16px;

  background-color: $color-white;
  box-shadow: -2px -1px 4px rgba(166, 166, 166, 0.12), 2px 4px 5px rgba(0, 0, 0, 0.07);
  border-radius: 8px;

  @media (max-width: $max-tablet-size) {
    padding: 8px 8px 40px 8px;
  }

  @media (max-width: $max-mobile-size) {
    display: none;
  }

  &.open {
    display: unset;
    z-index: 2;

    padding: 24px 16px 84px 16px;

    position: fixed;
    top: 64px;
    left: 0;

    height: 100%;
    min-width: 100vw;

    overflow-y: scroll;
  }

  &__content {
    @media (max-width: $max-mobile-size) {
      position: relative;
      width: 100%;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  &__close-filters {
    display: none;

    @media (max-width: $max-mobile-size) {
      display: unset;
    }
  }

  &__title {
    padding: 8px 8px 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: $accent-color;

    img {
      filter: invert(51%) sepia(80%) saturate(3095%) hue-rotate(195deg) brightness(100%) contrast(102%);
    }

    &:hover, &:hover:focus {
      @include default-transition();
      color: $hover-accent-color;

      img {
        filter: invert(14%) sepia(25%) saturate(7450%) hue-rotate(204deg) brightness(114%) contrast(101%);
      }
    }

    &:focus {
      @include default-transition();
      color: $accent-color;
    }

    & > img {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }

  &__divider {
    padding-top: 24px;
    border-bottom: 1px solid $divider-color;

    &.first {
      padding-top: 16px;
    }

    @media (max-width: $max-tablet-size) {
      padding-top: 16px;
    }

    &.mobile {
      @media (max-width: $max-mobile-size) {
        display: none;
      }
    }

    &--first {
      padding-top: 12px;
    }
  }

  &__current-category {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    & > a > img {
      width: 14px;
    }

    @media (max-width: $max-mobile-size) {
      padding-top: 24px;
    }
  }

  &__categories {
    padding: 4px 8px 8px 8px;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    color: $text-dark-color;

    & > a, a:link, a:active, a:visited {
      color: $text-dark-color;
    }

    & > a, a:hover {
      @include default-transition();
      color: $accent-color;
    }

    @media (max-width: $max-tablet-size) {
      padding: 4px 8px 0 8px;
    }

    &--main {
      padding: 24px 8px 0 8px;

      @media (max-width: $max-tablet-size) {
        padding: 18px 8px 0 8px;
      }
    }

    &--scroll {
      padding-top: 24px;
      max-height: 345px;
      overflow: scroll;
      overflow-x: hidden;
      -ms-overflow-style: none; /* IE и Edge */

      @media(max-width: $max-tablet-size) {
        padding-top: 16px;
        max-height: 300px;
      }
    }
  }

  &__list {
    padding-top: 12px;

    @media (max-width: $max-tablet-size) {
      padding-top: 8px;
    }

    &--active {

    }
  }

  &__radio {
    gap: 8px;
  }

  &__cities {
    padding-top: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    position: relative;

    @media (max-width: $max-tablet-size) {
      padding-top: 16px;
    }
  }

  &__city {
    position: relative;
    width: 100%;
  }

  &__city-icon {
    position: absolute;
    z-index: 10;
    left: 10px;
    top: 14px;

    @media (max-width: $max-tablet-size) {
      left: 7px;
      top: 10px;
    }
  }

  &__block {
    padding-top: 24px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    &--checkbox {
      padding: 24px 0 0 0;
    }

    @media (max-width: $max-tablet-size) {
      padding-top: 16px;

      gap: 8px;
    }

    @media (max-width: $max-mobile-size) {
      gap: 16px;
    }
  }

  &__clear {
    font-family: 'Inter', sans-serif;
    font-style: normal;

    padding-top: 16px;

    font-size: 12px;
    line-height: 14px;

    text-align: center;

    color: $accent-color;

    &:hover, &:focus:hover, &:visited:hover {
      color: #004091;
    }

    &:focus {
      color: $accent-color;
    }
  }

  &__submit {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;

    width: 100%;
  }
}

.categories-bar {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__item {

    .categories-bar {
      display: none;
    }

    &--open {
      & > .categories-bar__header .categories-bar__title {
        font-weight: 600;
        color: $accent-color;
      }

      & > .categories-bar {
        display: flex;
      }

      & > .categories-bar__header .search-sidebar-arrow {
        @include default-transition();
        transform: rotate(180deg);
      }
    }
  }

  &__header {
    display: flex;
    justify-content: start;
    gap: 6px;
    cursor: pointer;
  }

  &__title {
    color: $text-dark-color;

    &:hover, &:focus:hover {
      color: $accent-color;
    }

    &:focus {
      color: $text-dark-color
    }

    &--active {
      font-weight: 600;
      color: $text-dark-color;
    }
  }
}