
$accent-color: #348EFF;
$secondary-accent-color: #E3F1FF;
$hover-accent-color: #004090;

$step-wizard-color: #EEF7FF;

$text-dark-color: #535456;
$text-dark-second-color: #ABB4C3;

$alert-success-color: #E5F6EC;
$alert-danger-color: #FAE3E5;

$divider-color: #EEEEEE;

$color-white: #FFFFFF;
$color-green: #6DCC94;
$color-red: #FF808B;

$mask-white: rgba(255, 255, 255, 0.78);

$alert-js-success: #6DCC94;
$alert-js-success-second: #E5F6EC;
$alert-js-success-icon: invert(71%) sepia(17%) saturate(882%) hue-rotate(92deg) brightness(99%) contrast(92%);
$alert-js-success-icon-second: #D5EFE0;
$alert-js-success-close: invert(50%) sepia(7%) saturate(3293%) hue-rotate(88deg) brightness(107%) contrast(90%);
$alert-js-success-text: #3BA55F;

$alert-js-info: #348EFF;
$alert-js-info-second: #EEF7FF;
$alert-js-info-icon: invert(45%) sepia(28%) saturate(3593%) hue-rotate(198deg) brightness(102%) contrast(102%);
$alert-js-info-icon-second: #CCE6FF;
$alert-js-info-close: invert(12%) sepia(73%) saturate(3483%) hue-rotate(210deg) brightness(91%) contrast(114%);
$alert-js-info-text: #04297A;

$alert-js-error: #FF808B;
$alert-js-error-second: #FAE3E5;
$alert-js-error-icon: invert(44%) sepia(96%) saturate(5528%) hue-rotate(333deg) brightness(100%) contrast(105%);
$alert-js-error-icon-second: #FBCBCB;
$alert-js-error-close: invert(14%) sepia(35%) saturate(5614%) hue-rotate(324deg) brightness(84%) contrast(104%);
$alert-js-error-text: #7A0C2E;


$body-bg: #f5f8fa;

$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

$brand-primary: #4682B4;
$brand-info: #DCBC39;
$brand-success: #26A25A;
$brand-warning: #C29D0B;
$brand-danger: #C9302C;

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

$navbar-default-bg: #fff;

$btn-default-color: $text-color;

$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

$panel-default-heading-bg: #fff;

$svg-default-color: invert(81%) sepia(21%) saturate(1917%) hue-rotate(180deg) brightness(101%) contrast(101%);
$svg-accent-color: invert(46%) sepia(56%) saturate(3369%) hue-rotate(199deg) brightness(103%) contrast(102%);
$svg-password-color: invert(30%) sepia(6%) saturate(169%) hue-rotate(182deg) brightness(100%) contrast(87%);
$svg-chips-color: invert(92%) sepia(68%) saturate(3457%) hue-rotate(179deg) brightness(84%) contrast(82%);
$svg-white-color: invert(100%) sepia(9%) saturate(7459%) hue-rotate(246deg) brightness(114%) contrast(107%);
$svg-red-color: invert(55%) sepia(38%) saturate(1405%) hue-rotate(315deg) brightness(120%) contrast(111%);

$max-mobile-size: 767px;

$max-tablet-size: 1024px;
$min-tablet-size: 768px;

@mixin default-transition {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
