@import "resources/sass/variables";

label {
  margin-bottom: 0;
}

.is-invalid {
  outline: $color-red;
  border-color: $color-red;

  h3 {
    color: $color-red !important;
  }

  & > * {
    border-color: $color-red;
  }

  span {
    border-color: $color-red;
    color: $color-red !important;
  }

  &::placeholder {
    color: $color-red;
  }

  input {
    outline: $color-red;
    border-color: $color-red;

    &::placeholder {
      color: $color-red;
    }
  }

  textarea {
    outline: $color-red;
    border-color: $color-red;

    &::placeholder {
      color: $color-red;
    }
  }

  label {
    color: $color-red;
  }

  select {
    outline: $color-red;
    border-color: $color-red;

    & > * {
      border-color: $color-red;
      color: $color-red;
    }
  }
}