@import "resources/sass/variables";

h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 29px;
  align-items: flex-end;
  letter-spacing: -0.02em;
  color: $text-dark-color;
  padding: 12px 0 20px 0;

  @media (min-width: $max-tablet-size) {
    font-size: 20px;
    padding: 12px 0 32px 0;
  }

  @media (min-width: $max-tablet-size) {
    font-size: 24px;
    padding: 12px 0 32px 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.hide-on-mobile {
  @media (max-width: $max-mobile-size) {
    display: none;
  }
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  min-height: 100vh;
  background-color: $color-white;
}

.untouchable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.btn {
  font-family: Inter, serif;
  width: 100%;
  border-radius: 12px;
  text-decoration: none;
  padding: 12px 15px;
  border: 1px solid $color-white;
  cursor: pointer;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;

  &--success {
    background-color: $accent-color;
    color: $color-white;
    border: 1px solid $accent-color;

    &:hover {
      @include default-transition();
      background-color: $color-white;
      color: $accent-color;
      border: 1px solid $accent-color;
    }

    &:focus {
      @include default-transition();
      color: $color-white;
    }

    &:focus:hover {
      @include default-transition();
      color: $accent-color;
    }
  }

  &--success-background {
    display: flex;
    gap: 13px;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    color: $accent-color;
    border: 1px solid $accent-color;

    font-weight: 400;

    @media (min-width: $min-tablet-size) {
      font-size: 12px;
    }

    @media (min-width: $max-tablet-size) {
      font-size: 14px;
    }

    img {
      width: 15px;
      height: 17px;
      filter: $svg-accent-color;
    }

    &:hover, &:focus:hover {
      @include default-transition();
      background-color: $accent-color;
      color: $color-white;
      border: 1px solid $accent-color;

      img {
        filter: $svg-white-color;
      }
    }

    &:focus {
      @include default-transition();
      color: $accent-color;
    }
  }

  &--delete-background {
    display: flex;
    align-items: center;
    gap: 13px;
    justify-content: center;
    background-color: $color-white;
    color: $color-red;
    border: 1px solid $color-red;
    font-size: 12px;

    font-weight: 400;

    img {
      width: 15px;
      height: 17px;
    }

    @media (min-width: $min-tablet-size) {
      font-size: 12px;
    }

    @media (min-width: $max-tablet-size) {
      font-size: 14px;
    }

    &:hover {
      @include default-transition();
      background-color: $color-red;
      color: $color-white;
      border: 1px solid $color-red;

      img {
        width: 15px;
        height: 17px;
        filter: $svg-white-color;
      }
    }

    img {
      filter: $svg-red-color;
    }

    &:focus {
      @include default-transition();
      color: $color-red;
    }

    &:focus:hover {
      @include default-transition();
      color: $color-white;
    }
  }

  &--promo {
    background-color: $color-green;
    color: $color-white;
    border: 1px solid $color-green;

    &:hover {
      @include default-transition();
      background-color: $color-white;
      color: $color-green;
      border: 1px solid $color-green;
    }

    &:focus {
      @include default-transition();
      color: $color-white;
    }

    &:focus:hover {
      @include default-transition();
      color: $color-green;
    }
  }

  &--cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    color: $text-dark-color;
    border: 1px solid $text-dark-second-color;

    &:hover {
      @include default-transition();
      background-color: $color-white;
      color: $accent-color;
      border: 1px solid $accent-color;
    }

    &:focus {
      @include default-transition();
      color: $text-dark-second-color;
    }
  }

  &--add-file {
    width: 40%;
    float: left;
    background-color: $color-white;
    color: $accent-color;
    border: 1px solid $accent-color;

    @media (min-width: $min-tablet-size) {
      width: 30%;
    }

    @media (min-width: $max-tablet-size) {
      width: 20%;
    }

    &:hover {
      @include default-transition();
      background-color: $accent-color;
      color: $color-white;
      border: 1px solid $color-white;
    }

    &:focus {
      @include default-transition();
      color: $text-dark-second-color;
    }
  }

  &--call {
    display: flex;
    align-items: center;
    gap: 13px;
    justify-content: center;
    background-color: #348eff;
    color: #fff;
    border: 1px solid #348eff;
    padding: 11px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    img {
      filter: $svg-white-color;
    }

    &:hover {
      @include default-transition();
      background-color: $color-white;
      color: $accent-color;
      border: 1px solid $accent-color;

      img {
        filter: $svg-accent-color;
      }
    }

    &:focus {
      @include default-transition();
      color: $color-white;

      img {
        filter: $svg-white-color;
      }
    }

    &:focus:hover {
      @include default-transition();
      color: $accent-color;

      img {
        filter: $svg-accent-color;
      }
    }
  }

  &--write {
    display: flex;
    align-items: center;
    gap: 13px;
    justify-content: center;
    background-color: $color-white;
    color: $text-dark-color;
    border: 1px solid $text-dark-second-color;
    padding: 11px 15px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    &:hover, &:hover:focus {
      @include default-transition();
      background-color: $color-white;
      color: $accent-color;
      border: 1px solid $accent-color;

      img {
        filter: $svg-accent-color;
      }
    }

    &:focus {
      @include default-transition();
      color: $text-dark-color;
    }
  }

  &--height {
    padding: 12px 15px;

    @media (min-width: $max-tablet-size) {
      padding: 16px 0;
    }
  }

  &--resend-email {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent-color;
    color: $color-white;
    border: 1px solid $accent-color;

    &:hover {
      background-color: $color-white;
      color: $accent-color;
      border: 1px solid $accent-color;
    }

    &:focus {
      color: $color-white;
    }
  }

  &--blocked {
    cursor: default;
    background-color: $divider-color;
    color: $text-dark-second-color;
    border: 1px solid $divider-color;

    &:hover {
      background-color: $divider-color;
      color: $text-dark-second-color;
      border: 1px solid $divider-color;
    }

    &:focus {
      background-color: $divider-color;
      color: $text-dark-second-color;
      border: 1px solid $divider-color;
    }
  }
}

.wrapper {
  background-color: transparent;
  min-height: 100vh;

  position: relative;
}

.body--colored {
  background-color: $body-bg;
}


.height-80 {
  height: 80vh;
}

.height-40 {
  height: 40vh;
}

.width-calc {
  max-width: calc(100vw - 40px);
}

sup {
  color: $color-red;
}

.main-container {
  @media (max-width: $max-mobile-size) {
    padding-top: 64px !important;
  }
}