@import "resources/sass/variables";

#bx-pager {
  display: none;
  text-align: left;

  @media (min-width: $min-tablet-size) {
    display: flex;
  }
}

.bxslider {
  height: 100% !important;

  li {
    height: 100% !important;
  }
}

.thumb-item-link {
  border-bottom: none;
}

.thumb-item-link.active {
  border: 3px solid $accent-color;
  border-radius: 4px;
}

.item-slider .bx-wrapper .bx-viewport {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 261px !important;
  border-radius: 8px;

  border: 0;
  box-shadow: none;
  left: 0;

  @media (min-width: $min-tablet-size) {
    height: 404px !important;
  }

  @media (min-width: $max-tablet-size) {
    height: 546px !important;
  }
}

.bx-wrapper img {
  height: 100%;
  max-width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.bx-controls-direction a.bx-prev:after {
  content: url('/icon/slider/prev.svg');
  left: -22px;
}

.bx-controls-direction a.bx-next:after {
  content: url('/icon/slider/next.svg');
  right: -22px;
}

.bx-controls-direction a:after {
  background: none;
  border-radius: 3px;
  color: #fff;
  content: "nexts";
  font-family: fontello;
  font-size: 100%;
  line-height: 1.3;
  padding: 0;
  position: absolute;
  text-align: center;
  text-indent: 0;
  opacity: 0;
  -webkit-transition: .15s ease-in-out;
  -moz-transition: .15s ease-in-out;
  -o-transition: .15s ease-in-out;
  transition: .15s ease-in-out;

  &:hover {
    padding: 0;
    background: none;
    box-shadow: none;
  }
}

.bx-controls-direction a:hover:after {
  width: auto;
  height: auto;
  padding: 0;
  background: none;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;

  &:hover {
    padding: 0;
    background: none;
    box-shadow: none;
  }
}