@import "resources/sass/variables";

.button {
  &__new-post {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 10px;

    &:hover > img  {
      content:url('/icon/icon-plus-accent.svg');
    }
  }
}
