@import "../variables";

.customLoader {
  position: absolute;
  min-width: 15px;
  min-height: 15px;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 9999999999;
}

.spinner7 {
  position: absolute;
  width: 90px;
  height: 30px;
  text-align: center;
  top: calc(50% - 30px / 2);
  left: calc(50% - 90px / 2);
}

.spinner7 > div {
  background-color: $accent-color;
  height: 15px;
  width: 15px;
  margin-left: 3px;
  border-radius: 50%;
  display: inline-block;

  -webkit-animation: stretchdelay 0.7s infinite ease-in-out;
  animation: stretchdelay 0.7s infinite ease-in-out;
}

.spinner7 .circ2 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.spinner7 .circ3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.spinner7 .circ4 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.spinner7 .circ5 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: translateY(-10px)
  }
  20% {
    -webkit-transform: translateY(-20px)
  }
}