@import "../variables";

.header-search {
  display: none;

  flex-direction: row;
  align-items: center;

  gap: 4px;

  padding: 16px;
  background-color: $color-white;

  box-shadow: -2px -1px 4px rgba(166, 166, 166, 0.12), 2px 4px 5px rgba(0, 0, 0, 0.07);

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;

  @media (max-width: $max-mobile-size) {
    display: flex;
    width: 100vw;
  }

  &--home {
    background: linear-gradient(116.69deg, #348EFF -1.14%, #E3F1FF 158.54%);

    box-shadow: unset;
  }

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    border-radius: 8px;

    background: $color-white;

    &--border {
      border: 1px solid $secondary-accent-color;
    }
  }

  &__query {
    border: 0;
    width: 100%;
    padding: 9px 0 9px 8px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $text-color;

    background: transparent;

    &::placeholder {
      color: $text-dark-second-color;
    }
  }

  &__save-search {
    margin: 0 5px;
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    min-height: 26px;
    min-width: 26px;
    max-height: 26px;
    max-width: 26px;
    margin: 0 4px;
    border: 0;
    background: $accent-color;
    border-radius: 5px;
  }

  &__city {
    position: relative;
  }

  &__city-icon {
    position: absolute;
    top: 7px;
    left: 3px;
    z-index: 2;
  }
}