@import "resources/sass/variables";

.modal-message-success {
  display: none;
  flex-direction: column;
  align-items: center;

  padding-bottom: 90px;

  &__img {
    padding-top: 90px;
  }

  &__title {
    padding: 20px 0 36px 0;

    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: $text-dark-color;

    h3 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 37px;
      color: $text-dark-color;
      padding: 0;
    }

    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: $text-dark-color;
    }
  }
}

.validation-error-alert {
  display: none;
}