@import "resources/sass/variables";

.modal {
  &__content {
    background: #FFFFFF;
    border: 1px solid rgba(235, 234, 255, 0.5);
    border-radius: 8px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 32px 20px 32px;
    border-bottom: 1px solid #EEEEEE;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #535456;
    padding: 0;
  }

  &__button-close {
    border: none;
    font-size: 18px;
    background: transparent;
    line-height: 18px;
  }

  &__body {
    position: relative;
    flex: 1 1 auto;
    padding: 24px 32px;
  }

  &__footer {

  }

  &__errors-list {
    li {
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #535456;
    }
  }
}





