@import "resources/sass/variables";

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
}

.dot-typing {
  position: relative;
  left: -10004px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $accent-color;
  color: $accent-color;
  box-shadow: 9984px 0 0 0 $accent-color, 9999px 0 0 0 $accent-color, 10014px 0 0 0 $accent-color;
  animation: dotTyping 1.5s infinite linear;
}

@keyframes dotTyping {
  0% {
    box-shadow: 9984px 0 0 0 $accent-color, 9999px 0 0 0 $accent-color, 10014px 0 0 0 $accent-color, 10029px 0 0 0 $accent-color;
  }
  12.5% {
    box-shadow: 9984px -5px 0 0 $accent-color, 9999px 0 0 0 $accent-color, 10014px 0 0 0 $accent-color, 10029px 0 0 0 $accent-color;
  }
  25% {
    box-shadow: 9984px -10px 0 0 $accent-color, 9999px -5px 0 0 $accent-color, 10014px 0 0 0 $accent-color, 10029px 0 0 0 $accent-color;
  }
  37.5% {
    box-shadow: 9984px -5px 0 0 $accent-color, 9999px -10px 0 0 $accent-color, 10014px -5px 0 0 $accent-color, 10029px 0 0 0 $accent-color;
  }
  50% {
    box-shadow: 9984px 0 0 0 $accent-color, 9999px -5px 0 0 $accent-color, 10014px -10px 0 0 $accent-color, 10029px -5px 0 0 $accent-color;
  }
  62.5% {
    box-shadow: 9984px 0 0 0 $accent-color, 9999px 0 0 0 $accent-color, 10014px -5px 0 0 $accent-color, 10029px -10px 0 0 $accent-color;
  }
  75% {
    box-shadow: 9984px 0 0 0 $accent-color, 9999px 0 0 0 $accent-color, 10014px 0 0 0 $accent-color, 10029px -5px 0 0 $accent-color;
  }
  87.5% {
    box-shadow: 9984px 0 0 0 $accent-color, 9999px 0 0 0 $accent-color, 10014px 0 0 0 $accent-color, 10029px 0 0 0 $accent-color;
  }
  100% {
    box-shadow: 9984px 0 0 0 $accent-color, 9999px 0 0 0 $accent-color, 10014px 0 0 0 $accent-color, 10029px 0 0 0 $accent-color;
  }
}