@import "resources/sass/variables";

.post-not-found {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding-left: 24px;

  @media (max-width: $max-tablet-size) {
    gap: 20px;
    padding-left: 16px;
  }

  @media (max-width: $max-mobile-size) {
    padding-left: unset;
    gap: 16px;
  }

  &__text {
    font-size: 20px;
    line-height: 24px;
    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (max-width: $max-mobile-size) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__link {
    font-size: 20px;
    line-height: 24px;
    color: $accent-color;

    @media (max-width: $max-tablet-size) {
      font-size: 16px;
      line-height: 20px;
    }

    @media (max-width: $max-mobile-size) {
      font-size: 14px;
      line-height: 16px;
    }

    &:hover, &:hover:focus, &:hover:visited {
      @include default-transition();
      color: #004091;
    }

    &:focus {
      color: $accent-color;
    }
  }
}