@import "resources/sass/variables";

.reg-sidebar-inner {
  background: #FFFFFF;
  border: 1px solid rgba(235, 234, 255, 0.5);
  box-shadow: 4px 5px 15px rgba(182, 187, 216, 0.26);
  border-radius: 8px;
  padding: 24px 12px;

}

.reg-sidebar {
  display: none;

  @media (min-width: $max-tablet-size) {
    display: block;
    max-width: 30% !important;
  }

  &--md {
    @media (min-width: $min-tablet-size) {
      display: block;
    }
  }

  &__card {
    &--background {
      background: $step-wizard-color;
    }

    h3 {
      text-align: left;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: #535456;

      @media (min-width: $min-tablet-size) {
        font-size: 12px;
        line-height: 15px;
      }

      @media (min-width: $max-tablet-size) {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  &__card-list {
    gap: 12px;
    display: grid;

    li {
      display: flex;
      gap: 12px;
      flex-direction: row;
      align-items: center;

      span {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #535456;
      }

      @media (min-width: $max-tablet-size) {
        gap: 20px;
      }

      img {
        width: 16px;
        height: 28px;
        filter: $svg-accent-color;
      }
    }
  }

  &__promo {
    border-top: 1px solid #EEEEEE;
    margin-top: 32px;

    h3 {
      text-align: left;
      padding-top: 24px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.02em;
      color: $accent-color;

      @media (min-width: $max-tablet-size) {
        gap: 20px;
      }
    }

    p {
      text-align: left;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: -0.02em;
      color: #535456;
    }
  }

}
