@import "resources/sass/variables";

.ads-search {
  border: 1px solid $color-white;

  min-height: 48px;
  width: 80%;
  max-width: 924px;
  background: $color-white;
  box-shadow: 0px 1px 17px rgba(88, 131, 110, 0.17);
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;

  position: relative;

  padding-left: 5px;

  @media (max-width: $max-tablet-size) {
    min-height: 40px;
    width: 100%;
    padding-left: 3px;

    border-radius: 12px;
  }

  &.focused {
    border: 1px solid $accent-color;
  }

  &__city {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media (max-width: $max-mobile-size) {
      position: absolute;
      top: 48px;
    }

    &-icon {
      position: absolute;
      left: 18px;
      top: 18px;
      z-index: 1;

      @media (max-width: $max-tablet-size) {
        left: 10px;
        top: 10px;
      }

      @media (max-width: $max-mobile-size) {
        left: 6px;
        top: 8px;
        width: 12px;
      }
    }
  }

  &__query {
    border: 0;
    width: 80%;
    padding: 21px 0 21px 30px;

    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    color: $text-color;

    @media (max-width: $max-tablet-size) {
      width: 80%;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      padding: 2px 0 2px 16px;
    }

    @media (max-width: $max-mobile-size) {
      width: 80%;
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      padding: 2px 0;
    }

    &::placeholder {
      color: $text-dark-second-color;
    }
  }

  &__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    min-height: 48px;
    min-width: 48px;
    max-height: 48px;
    max-width: 48px;
    margin: 5px;
    border: 0;
    background: $accent-color;
    border-radius: 12px;

    @media (max-width: $max-tablet-size) {
      margin: 3px;
      min-height: 34px;
      min-width: 34px;
      max-height: 34px;
      max-width: 34px;

      border-radius: 10px;
    }

    @media (max-width: $max-mobile-size) {
      margin: 3px;
      min-height: 33px;
      min-width: 33px;
      max-height: 33px;
      max-width: 33px;
      border-radius: 8px;
    }

    img {
      object-fit: fill;
    }

    &:hover {
      @include default-transition();
      margin: 5px;
      background: $color-white;
      border-radius: 12px;

      @media (max-width: $max-mobile-size) {
        @include default-transition();
        margin: 3px;
        background: $color-white;
        border-radius: 8px;
      }
    }

    &:hover > img {
      @include default-transition();
      content: url('/icon/icon-search-accent.svg');
    }
  }

  &__save-search {
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 8px;

    position: absolute;
    right: 2px;
    top: 68px;

    color: $accent-color;

    &:hover {
      @include default-transition();
      color: $hover-accent-color;
    }

    &:visited {
      @include default-transition();
      color: $accent-color;
    }

    &:focus {
      @include default-transition();
      color: $accent-color;
    }

    &:focus:hover {
      @include default-transition();
      color: $hover-accent-color;
    }


    @media (max-width: $max-tablet-size) {
      top: 50px;
    }

    @media (max-width: $max-mobile-size) {
      top: 55px;
    }
  }
}

.ads-search.is-search-page {
  @media (max-width: $max-mobile-size) {
    box-shadow: none;
    border: 1px solid $secondary-accent-color;
  }
}

.ads-search.focused.is-search-page {
  @media (max-width: $max-mobile-size) {
    box-shadow: none;
    border: 1px solid $accent-color;
  }
}