@import "resources/sass/variables";

.step-wizard {
  width: 100%;
  background: $secondary-accent-color;

  margin-top: 30px;

  @media (max-width: $max-mobile-size) {
    margin-top: unset;
  }

  &__container {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;

    @media (min-width: 576px) {
      width: 540px;
    }
    @media (min-width: 768px) {
      width: 720px;
    }
    @media (min-width: 992px) {
      width: 960px;
    }
    @media (min-width: 1200px) {
      width: 1140px;
    }
    @media (min-width: 1400px) {
      max-width: 1320px;
    }
  }

  &__step {
    width: 8px;
    height: 14px;
    margin-left: 22px;
    filter: $svg-default-color;

  }

  &__icon {
    display: none;
    @media (min-width: 576px) {
      display: block;
      width: 32px;
      margin-right: 8px;
      filter: $svg-default-color;
    }
  }

  &__container-nav {
    display: flex;
    flex-wrap: nowrap;
    gap: 27px;
    margin-bottom: 0;
    list-style: none;
    background: $secondary-accent-color;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 3px;
    position: relative;
    overflow: scroll;
    padding: 8px 0;

    @media (min-width: 576px) {
      padding: 24px 0;
      overflow: hidden;
    }

    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      white-space: nowrap;

      a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #92C7FF;

        @media (min-width: 576px) {
          font-size: 14px;
        }
      }

      p {
        margin: 0;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        color: #92C7FF;

        @media (min-width: 576px) {
          font-size: 14px;
        }
      }

      &:last-child {
        .step-wizard__step {
          display: none;
        }
      }
    }

    .active {
      filter: $svg-accent-color;

      p {
        color: $accent-color;
      }

      a {
        color: $accent-color;
      }
    }
  }
}
