@import "resources/sass/variables";

.load-more {
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: $accent-color;

  margin-top: 40px;

  @media (min-width: $max-mobile-size) {
    font-size: 14px;
    padding-bottom: 40px;
  }

  @media (max-width: $max-mobile-size) {
    font-size: 14px;
    padding-bottom: 70px;
  }

  & > span {
    cursor: pointer;
  }
}