@import "../../variables";

.select {
  position: relative;

  &.setCity {
    width: 100%;
  }
}

.select__toggle {
  display: flex;
  background-color: $secondary-accent-color;
  border: 1px solid $secondary-accent-color;
  border-radius: 10px;
  cursor: pointer;
  align-items: center;
  width: 100%;
  user-select: none;
  justify-content: space-between;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: $text-dark-color;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  max-height: 48px;
  min-height: 48px;
  max-width: 180px;
  min-width: 180px;

  padding: 16px 33px 17px 35px;

  @media (max-width: $max-tablet-size) {
    display: flex;
    max-height: 34px;
    min-height: 34px;
    max-width: 125px;
    min-width: 125px;

    font-weight: 500;
    font-size: 12px;
    line-height: 14px;

    border-radius: 10px;
  }

  @media (max-width: $max-mobile-size) {
    display: flex;
    max-height: 32px;
    min-height: 32px;
    max-width: 89px;
    min-width: 89px;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    background: $color-white;
    border-radius: 6px;

    color: $accent-color;

    padding: 15px 20px 15px 30px;
  }

  &::after {
    content: '';
    width: 14px;
    height: 7px;
    flex-shrink: 0;
    margin-right: -1rem;
    background-size: cover;
    background-image: url('../../icon/icon-select.svg');

    @media (max-width: $min-tablet-size) {
      width: 10px;
      height: 5px;
    }

    @media (max-width: $max-mobile-size) {
      width: 10px;
      height: 5px;
      background-image: url('../../icon/icon-select-accent.svg');
    }
  }

  &:focus {
    background: $color-white;
    padding: 16px 33px 17px 35px;
    border: 1px solid $accent-color;
    border-radius: 12px;

    @media (max-width: $max-mobile-size) {
      border-radius: 6px;
      border: 1px solid $color-white;

      padding: 15px 20px 15px 30px;
    }
  }
}

.select__toggle.filter {
  background-color: $color-white;
  color: $text-dark-color;

  padding: 8px 16px 8px 20px;

  border: 1px solid $color-white;

  max-height: 36px;
  min-height: 36px;
  max-width: 155px;
  min-width: 155px;

  @media (max-width: $max-tablet-size) {
    font-size: 12px;
    line-height: 14px;
    padding-left: 20px;
    padding-right: 18px;
  }

  &:focus {
    border: 1px solid $accent-color;
  }

  &::after {
    content: '';
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    margin-right: 0;
    background-size: cover;
    background-image: url('../../icon/filter-icon/swap.svg');

    @media (max-width: $min-tablet-size) {
      width: 15px;
      height: 15px;
    }

    @media (max-width: $max-mobile-size) {
      width: 10px;
      height: 5px;
    }
  }
}

.select__toggle.city {
  background-color: $color-white;
  border: 1px solid $text-dark-second-color;
  border-radius: 12px;
  color: $text-dark-color;
  min-width: 100%;

  font-size: 16px;

  @media (max-width: $max-tablet-size) {
    max-height: 40px;
    min-height: 40px;
  }
}

.select_show.select__toggle::after {
  transform: rotate(180deg);
}

.select__dropdown::-webkit-scrollbar {
  display: none;
}

.select__dropdown {
  display: none;
  position: absolute;
  top: 3rem;
  left: 0;
  min-width: 262px;
  z-index: 2;
  background: $color-white;
  box-shadow: 0 1px 23px rgba(171, 180, 195, 0.49);
  border-radius: 8px 0 8px 8px;

  max-height: 400px;
  overflow: scroll;

  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    width: 0;
  }

  &.city {
    top: 3rem;
  }

  &.filter {
    top: 2.4rem;
    left: auto;
    right: 0;

    border-radius: 8px 0 8px 8px;

    @media (max-width: $max-tablet-size) {
      top: 2.4rem;
    }

    @media (max-width: $max-mobile-size) {
      top: 1.6rem;
    }
  }

  @media (max-width: $max-tablet-size) {
    top: 2.2rem;
  }

  @media (max-width: $max-mobile-size) {
    right: 0;
    left: unset;
  }
}

.select_show .select__dropdown {
  display: block;
}

.select_show .select__backdrop {
  display: block;
}

.select__options {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  word-wrap: break-word;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px 16px 12px 16px;
  padding: 0;
  list-style: none;
}

.select__option {
  width: 100%;
  margin-bottom: 12px;
  color: $text-dark-color;

  &:hover {
    @include default-transition();
    cursor: pointer;
    color: $accent-color;
  }
}

.select__option_selected {
  color: $text-dark-color;
  font-weight: 600;
}
