@import "resources/sass/variables";

.category-slider-container {

  width: 100%;
  padding-right: var(--bs-gutter-x, .75rem);
  padding-left: var(--bs-gutter-x, .75rem);
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (max-width: 1199px) {
    max-width: 980px;
  }

  @media (max-width: 1090px) {
    max-width: 940px;
  }

  @media (max-width: 1050px) {
    max-width: 980px;
  }

  @media (max-width: 991px) {
    max-width: 750px;
  }

  @media (max-width: 950px) {
    max-width: 750px;
  }

  @media (max-width: 880px) {
    max-width: 750px;
  }

  @media (max-width: 810px) {
    max-width: 750px;
  }

  @media (max-width: 767px) {
    max-width: 540px;
    padding-right: 0;
    padding-left: 0;
  }

  @media (max-width: 575px) {
    max-width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

}

.header-slider {
  @media (max-width: 767px) {
    margin-left: 25px;
  }
}