@import "resources/sass/variables";

.checkbox-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 8px;

  &--column {
    grid-template-columns: repeat(2, 1fr);
  }
}


.checkbox {
  display: flex;
  flex-direction: row;

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;


    &:checked + .checkbox__label:after {
      content: "";
      position: absolute;
      left: 3px;
      top: 5px;
      width: 10px;
      height: 5px;
      border-radius: 1px;
      border-left: 1px solid #348eff;
      border-bottom: 1px solid #348eff;
      -webkit-transform: rotate(-55deg);
      -moz-transform: rotate(-55deg);
      -o-transform: rotate(-55deg);
      -ms-transform: rotate(-55deg);
      transform: rotate(318deg);
    }

    &:checked + .checkbox__label:before {
      display: block;
      width: 16px;
      height: 16px;
      background: white;
      border: 1px solid $accent-color;
      border-radius: 2px;
    }

    &:hover {
      border: 2px solid $accent-color;
      cursor: pointer;
    }
  }

  &__label {
    display: flex;
    position: relative;
    color: black;
    vertical-align: middle;
    margin: 0;

    &:hover::before {
      border: 2px solid $accent-color;
    }

    p {
      width: fit-content;
      margin: 0;
    }

    &::before {
      content: " ";
      color: black;
      display: inline-block;
      margin-right: 8px;
      text-align: center;
      width: 16px;
      height: 16px;
      background: white;
      border: 1px solid #A9AEB9;
      border-radius: 2px;

      &:focus {
        border: 1px solid $accent-color;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__label--filter {
    color: unset;
  }
}