@import "resources/sass/variables";

.chips-container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}

.chips {
  & > input[type="checkbox"] {
    display: none;
  }

  & > input[type="checkbox"] + label {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;

    font-family: 'Inter', serif;
    font-style: normal;

    color: $text-dark-color;

    border-radius: 12px;
    background-color: $color-white;
    border: 1px solid $secondary-accent-color;

    padding: 8px 20px;

    & > img {
      display: none;
    }
  }

  & > input[type="checkbox"]:checked + label {
    cursor: pointer;

    color: $text-dark-color;

    font-family: 'Inter', serif;
    font-style: normal;

    border-radius: 12px;
    background-color: $secondary-accent-color;
    border: 1px solid $secondary-accent-color;

    padding: 8px 20px;

    display: flex;
    flex-direction: row;
    align-items: center;

    & > img {
      display: unset;
      padding-left: 12px;
    }
  }
}