@import "resources/sass/variables";

.off.ends.available {
  background-color: $color-white;
  color: $text-dark-second-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.available {
  color: $text-dark-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.active.start-date.active.end-date.available {
  background-color: $accent-color;
  border-radius: 4px;

  &:hover {
    @include default-transition();
    background-color: $accent-color;
  }
}

.active.start-date.available {
  background-color: $accent-color;
  border-radius: 4px 0 0 4px;

  &:hover {
    @include default-transition();
    background-color: $accent-color;
  }
}

.active.start-date.in-range.available {
  background-color: $accent-color !important;
  border-radius: 4px 0 0 4px;

  &:hover {
    @include default-transition();
    background-color: $accent-color;
  }
}

.active.end-date.available {
  background-color: $accent-color;
  border-radius: 0 4px 4px 0;

  &:hover {
    @include default-transition();
    background-color: $accent-color;
  }
}

.active.end-date.in-range.available {
  background-color: $accent-color !important;
  border-radius: 0 4px 4px 0;

  &:hover {
    @include default-transition();
    background-color: $accent-color;
  }
}

.in-range.available {
  background-color: $secondary-accent-color !important;
}

.off.ends.active.start-date.available {
  background-color: $accent-color !important;
  color: $color-white;
}

.off.ends.active.start-date.in-range.available {
  background-color: $accent-color !important;
  color: $color-white;
}

.off.ends.active.end-date.in-range.available {
  background-color: $accent-color !important;
  color: $color-white;
}

.daterangepicker {

  th.month {
    font-family: 'Inter', sans-serif;
    font-style: normal;

    font-weight: 700 !important;
    font-size: 12px !important;
    line-height: 14px !important;

    color: $text-dark-color !important;
  }
}

.daterangepicker .calendar-table th {
  font-family: 'Inter', sans-serif;
  font-style: normal;

  font-weight: 700;
  font-size: 12px;
  line-height: 14px;

  color: $text-dark-color;
}

.drp-buttons {
  display: flex !important;
  flex-direction: row-reverse;
}

.applyBtn.btn.btn-sm.btn-primary {
  background-color: $accent-color !important;
  border-radius: 8px;

  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: $color-white;

  &:hover {
    @include default-transition();
    background-color: $color-white !important;

    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.cancelBtn.btn.btn-sm.btn-default {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  color: $text-dark-color;

  border: 1px solid $text-dark-second-color;
  border-radius: 8px;

  &:hover {
    @include default-transition();
    background-color: $color-white !important;

    border: 1px solid $accent-color;
    color: $accent-color;
  }
}

.minuteselect {
  background: $color-white !important;

  border: 1px solid $text-dark-color !important;
  border-radius: 8px;
  padding: 4px !important;

  &:focus {
    border: 1px solid $accent-color !important;
  }
}

.hourselect {
  background: $color-white !important;

  border: 1px solid $text-dark-color !important;
  border-radius: 8px;
  padding: 4px !important;

  &:focus {
    border: 1px solid $accent-color !important;
  }
}

.monthselect {
  background: $color-white;

  border: 1px solid $text-dark-color;
  border-radius: 8px;
  padding: 4px !important;

  &:focus {
    border: 1px solid $accent-color;
  }
}

.yearselect {
  background: $color-white;

  border: 1px solid $text-dark-color;
  border-radius: 8px;
  padding: 4px !important;

  &:focus {
    border: 1px solid $accent-color;
  }
}

.drp-selected {
  display: none !important;
}