@import "resources/sass/variables";

input[type="number"] {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  -moz-appearance: textfield;
}

.input {
  display: flex;
  flex-direction: column;

  input {
    background: $color-white;
    border: 1px solid $text-dark-second-color;
    border-radius: 12px;
    padding: 10px 20px;
    height: 40px;

    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: $text-dark-color;

    &:focus .form-text {
      display: block;
      border: 1px solid $accent-color
    }

    @media (min-width: $max-tablet-size) {
      padding: 14px 20px;
      font-size: 16px;
      height: 48px;
    }

    &::placeholder {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $text-dark-second-color;

      @media (min-width: 992px) {
        font-size: 16px;
      }
    }
  }

  &__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #ABB4C3;
    margin-bottom: 7px !important;

    @media (min-width: $max-tablet-size) {
      font-size: 14px;
    }
  }

  &.range {
    width: 100%;
  }

  &:focus .form-text {
    display: block;
    color: $accent-color
  }
}

.form-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 15px;
  color: $accent-color;
}

.input-select {
  background: $color-white;
  border: 1px solid $text-dark-second-color;
  border-radius: 12px;
  width: 100%;
  padding: 9px 19px 9px 19px !important;

  &:focus {
    border: 1px solid $accent-color
  }

  &--text-color {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    color: #ABB4C3;

    margin: 0;
    padding: 0;

    @media (min-width: $max-tablet-size) {
      font-size: 16px;
    }
  }

  a {
    font-family: 'Inter';
    display: flex;
    font-weight: 400;
    font-size: 14px;
    color: #ABB4C3;
    overflow: scroll;
    flex-wrap: nowrap;
    scroll-padding: 0;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    h3 {
      white-space: nowrap;
    }

    .input-category-selected {
      font-family: 'Inter';
      color: $accent-color;
      font-weight: 400;
      font-size: 14px;
      padding: 0;
      margin: 0 0 0 3px;

      &::before {
        color: $accent-color;
        content: '/';
        margin-right: 3px;
      }

      &:first-child {
        margin: 0;

        &::before {
          content: '';
        }
      }

      @media (min-width: $max-tablet-size) {
        font-size: 16px;
      }
    }


    @media (min-width: $max-tablet-size) {
      font-size: 16px;
    }
  }

  @media (min-width: $max-tablet-size) {
    padding: 11px 0 11px 19px !important;
  }
}

.input-select-2 {
  span {
    .selection {
      .select2-selection {
        background: $color-white;
        border: 1px solid $text-dark-second-color;
        border-radius: 12px;
        height: 40px;

        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $text-dark-second-color;

        &:focus {
          border: 1px solid $accent-color
        }

        @media (min-width: 992px) {
          height: 48px;
          font-size: 16px;
        }
      }
    }

    b {
      left: 97% !important;
    }
  }


  .select2-container--default .select2-selection--single[aria-expanded="true"] {
    .select2-selection__arrow {
      @include default-transition();
      border-color: transparent;
      border-style: none;
      border-width: 0;
      top: 36%;
      right: 13px;
      width: 8px !important;
      height: 10px;
      content: url("../../icon/account/back.svg") !important;
      transform: rotate(90deg) !important;

      @media (min-width: $max-tablet-size) {
        top: 38%;
        right: 13px;
      }
    }
  }

  .select2-container--default .select2-selection--single[aria-expanded="false"] {
    .select2-selection__arrow {
      @include default-transition();
      border-color: transparent;
      border-style: none;
      border-width: 0;
      top: 36%;
      right: 13px;
      width: 8px !important;
      height: 10px;
      content: url("../../icon/account/back.svg") !important;
      transform: rotate(-90deg);

      @media (min-width: $max-tablet-size) {
        top: 38%;
        right: 13px;
      }
    }
  }
}

.input-text {
  font-family: 'Inter';
  font-style: normal;
  width: 100%;
  background: $color-white;
  border: 1px solid #ABB4C3;
  border-radius: 12px;
  padding: 9px 0 9px 19px;
  resize: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #535456;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }

  &:focus {
    border: 1px solid $accent-color;
  }

  &:focus + .form-text {
    display: block;
    color: $accent-color
  }

  @media (min-width: 992px) {
    font-size: 16px;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #ABB4C3;

    @media (min-width: 992px) {
      font-size: 16px;
    }
  }
}

.input-checkbox {
  display: flex;
  flex-direction: column;


  &__label {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: black;
    margin: 0;
  }

  &__label-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #535456;
  }

  a {
    font-weight: 400;
    line-height: 17px;
    font-size: 14px;
    color: $accent-color !important;
  }
}

.input-tugs {
  span {
    .selection {
      .select2-selection {
        background: $color-white;
        border-radius: 12px;

        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: $text-dark-second-color;

        &:focus {
          border: 1px solid $accent-color !important;
        }

        @media (min-width: 992px) {
          font-size: 16px;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          gap: 5px;
          align-items: center;
          padding: 4px 4px;
          min-height: 40px;

          @media (min-width: $max-tablet-size) {
            min-height: 48px;
            padding: 4px 7px;
          }

          li {
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
            border-radius: 12px;
            margin: 0;
            height: 32px;
            font-weight: 400;
            font-size: 12px;
            line-height: 14px;
            color: #535456;

            input {
              padding: 0 0 0 5px;
              min-width: 20px;
              height: auto !important;
            }
          }
        }

        .select2-selection__choice {
          padding: 4px 16px 4px 20px;

          .select2-selection__choice__remove {
            border-right: none;
            position: relative;
          }

          @media (min-width: $max-tablet-size) {
            padding: 10px 16px 10px 20px;
            font-size: 14px;
            height: 40px;
          }
        }

        .select2-search--inline {
          padding: 0;
        }
      }

      .select2-container--default {
        border-color: #ABB4C3;
        box-shadow: none !important;
        outline: 0;

        &:focus {
          border-color: $accent-color !important;
        }
      }

      .select2-container--focus {
        border-color: $accent-color !important;
        box-shadow: none !important;
        outline: 0;

        &:focus {
          border-color: $accent-color !important;
        }
      }

      .select2-selection--multiple {
        border-color: #ABB4C3;
        box-shadow: none !important;
        outline: 0;
        padding: 0;

        &:focus {
          border-color: $accent-color !important;
        }
      }

      .select2-selection--multiple .select2-selection__choice {
        display: flex;
        align-items: center;
        position: relative;
        background: $step-wizard-color;
        cursor: pointer;
        border: 1px solid transparent;
      }
    }
  }
}

.input-phone {
  display: flex;
  flex-direction: column;

  &--flex-no-wrap {

    input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    span {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    display: flex;
    flex-wrap: nowrap;
  }

  &--hidden {
    display: none;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #ABB4C3;

    @media (min-width: 992px) {
      font-size: 16px;
    }
  }
}

.input-password {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;

  button {
    padding: 0;
  }

  img {
    object-fit: fill;
    filter: $svg-password-color;

    &:hover {
      @include default-transition();
      filter: $svg-accent-color;
    }
  }

  .show-pwd {
    @media (min-width: $max-tablet-size) {
      text-align: right;
      top: 9px;
      width: 40px;
      left: unset;
      right: 12px;
      z-index: 1;
    }
  }
}

.input-hidden {
  display: none;
}

.form-text {
  display: none;
}

textarea {
  resize: none;
}

.select {
  button {
    &::after {
      @include default-transition();
      transform: rotate(0deg);
    }
  }
}

.select_show {
  button {
    &::after {
      @include default-transition();
      transform: rotate(180deg);
    }
  }
}
