@import "resources/sass/variables";

.input-radio input[type=radio] {
  display: none;
}

.input-radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}

.input-radio label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: #E3F1FF;
  border-radius: 50%;
}

.input-radio label:after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 4px;
  bottom: 5px;
  background: #E3F1FF;
  border-radius: 50%;
}

/* Checked */
.input-radio input[type=radio]:checked + label:before {
  background: #E3F1FF;
}

.input-radio input[type=radio]:checked + label:after {
  background: $accent-color;
}

/* Hover */
.input-radio label:hover:before {
  filter: brightness(120%);
}

/* Disabled */
.input-radio input[type=radio]:disabled + label:before {
  filter: grayscale(100%);
}