@import "resources/sass/variables";

.select2-selection {
  background: $color-white;
  border-radius: 12px;

  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #ABB4C3;

  &:focus {
    border: 1px solid $accent-color !important;
  }

  @media (min-width: 992px) {
    font-size: 16px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    padding: 4px;

    li {
      display: flex;
      flex-direction: row-reverse;
      padding: 4px 16px 4px 20px;
      gap: 10px;
      border-radius: 12px;
      margin: 0;

      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: #535456;

      @media (min-width: 992px) {
        font-size: 14px;
      }

      .select2-search--inline {
        flex: 1;
      }
    }
  }
}

.select2-selection__arrow {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #535456;
}

.select2-container--default {
  border-color: #ABB4C3;
  box-shadow: none !important;
  outline: 0;

  &:focus {
    border-color: $accent-color !important;
  }

  @media (max-width: $max-mobile-size) {
    top: unset !important;
  }
}

.select2-container--default .select2-selection--single {
  position: relative;
  height: 40px;
  padding: 6px;
  border-radius: 4px;
  color: #555;

  @media (min-width: $max-tablet-size) {
    height: 49px;
    padding: 10px;
  }
}


.select2-container--focus {
  border-color: $accent-color !important;
  box-shadow: none !important;
  outline: 0;

  &:focus {
    border-color: $accent-color !important;
  }
}

.select2-selection--multiple {
  border-color: #ABB4C3;
  box-shadow: none !important;
  outline: 0;

  &:focus {
    border-color: $accent-color !important;
  }
}

.select2-selection--multiple .select2-selection__choice {
  position: relative;
  background: $step-wizard-color;
  cursor: pointer;
  border: 1px solid transparent;
}

.select2-container--open .select2-dropdown--below {
  z-index: 10000;
  background: $color-white;
  border-top: none;
  border-bottom: 1px solid #abb4c3;
  border-right: 1px solid #abb4c3;
  border-left: 1px solid #abb4c3;
  border-radius: 0 0 12px 12px;

}

.select2-container--open .select2-dropdown--below {
  .location-modal & {
    box-shadow: none!important;
  }
}

.modal-backdrop + .select2-container--open .select2-dropdown--below {
  box-shadow: unset!important;
}

.select2-search--dropdown .select2-search__field {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #535456;
  height: 40px;
  display: block;
  background: $color-white;
  border: 1px solid #ABB4C3;
  border-radius: 12px;
  padding: 9px 0 9px 19px;

  @media (min-width: $max-tablet-size) {
    height: 48px;
  }
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #888 transparent transparent;
  border-style: solid;
  border-width: 5px 4px 0;
  height: 0;
  left: 50%;
  position: absolute;

  top: 55%;
  width: 0;

  @media (min-width: $max-tablet-size) {
    top: 65%;
  }
}

.select2-results__options {
  &::-webkit-scrollbar {
    display: block;
    width: 13px;
    max-height: 80%;
    right: 10px;
    border-top: 40px solid transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
    padding-right: 20px !important;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 5px solid white;
    background-color: $accent-color;
  }

  &::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px;
  }

  &::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
  }
}