@import "resources/sass/variables";

.input-switch {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 31px;
  height: 18px;
  border-radius: 12px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slidere {
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slidere:before {
  content: "";
  height: 12px;
  width: 12px;
  background-color: $text-dark-second-color;
  transition: 0.4s;
}

input:checked + .slidere {
  background-color: $accent-color;
  border: 1px solid $accent-color;


}

input:checked + .slidere:before {
  background-color: $color-white;
}

input:focus + .slidere {
  box-shadow: 0 0 1px $accent-color;
}

input:checked + .slidere:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slidere.round {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 2px;
  border-radius: 34px;
  background: $color-white;
  border: 1px solid $text-dark-second-color;
}

.slidere.round:before {
  border-radius: 50%;
}
