@import "resources/sass/variables";

.cookies-container {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 36px;
  z-index: 2;

  background-color: $color-white;
  box-shadow: 0px -4px 19px rgba(145, 158, 171, 0.08), 0px 9px 18px -4px rgba(145, 158, 171, 0.34);
  border-radius: 8px;

  padding: 24px 34px;

  width: 420px;

  @media (max-width: $max-tablet-size) {
    padding: 15px 34px;
  }

  @media (max-width: $max-mobile-size) {
    width: 90%;
  }
  
  &__text {
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: $text-dark-color;

    padding-bottom: 16px;

    &--link {
      color: $accent-color;

      &:hover, &:focus:hover, &:visited:hover {
        color: $hover-accent-color;
      }
      &:focus {
        color: $accent-color;
      }
    }

    @media (max-width: $max-tablet-size) {
      padding-bottom: 18px;
    }

    @media (max-width: $max-mobile-size) {
      font-size: 12px;
      padding-bottom: 16px;
    }
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 14px;

    cursor: pointer;

    @media (max-width: $max-tablet-size) {
      top: 16px;
    }

    filter: invert(33%) sepia(5%) saturate(199%) hue-rotate(181deg) brightness(92%) contrast(88%);
  }
}