@import "resources/sass/variables";

.ads-show {
  &__info {
    display: flex;
    gap: 24px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $text-dark-second-color;

    @media (min-width: $min-tablet-size) {
      font-size: 12px;
      gap: 24px;
    }

    @media (min-width: $max-tablet-size) {
      font-size: 14px;
      gap: 28px;
    }
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: 7px;

    img {
      filter: $svg-chips-color;
    }
  }

  &__title-header {

    @media (max-width: $max-mobile-size) {
      width: 80%;
    }

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: $text-dark-color;

    @media (max-width: $min-tablet-size) {
      font-size: 20px;
    }

    @media (max-width: $max-mobile-size) {
      font-size: 20px;
    }
  }

  &__title-price {
    display: flex;
    gap: 27px;
    justify-content: flex-end;
    align-items: center;

    & > * {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 29px;
      align-items: flex-end;
      letter-spacing: -0.02em;
      color: $text-dark-color;

      @media (min-width: $min-tablet-size) {
        font-size: 20px;
      }

      @media (min-width: $max-tablet-size) {
        font-size: 24px;
      }
    }
  }

  &__title-buttons {
    display: flex;
    align-items: center;
    gap: 8px;

    &--dap {
      gap: 13px;
    }

    &--img-effects {
      filter: invert(33%) sepia(6%) saturate(190%) hue-rotate(182deg) brightness(88%) contrast(84%);

      &:hover {
        @include default-transition();
        filter: $svg-accent-color;
      }

      &:hover &:focus {
        @include default-transition();
        filter: $svg-accent-color;
      }
    }

    &--delete {
      img {
        filter: $svg-red-color;
      }

      &:hover {
        img {
          @include default-transition();
          filter: $svg-red-color;
        }
      }

      &:focus {
        img {
          @include default-transition();
          filter: $svg-red-color;
        }
      }

      &:focus:hover {
        img {
          @include default-transition();
          filter: $svg-red-color;
        }
      }
    }
  }

  &__backtolist-link {

    display: flex;
    gap: 17px;

    padding: 8px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $accent-color;

    @media (min-width: $min-tablet-size) {
      font-size: 12px;
      gap: 9px;
    }

    @media (min-width: $max-tablet-size) {
      font-size: 14px;
      gap: 17px;
    }

    img {
      filter: $svg-accent-color;
    }

    &:hover {
      @include default-transition();
      color: $hover-accent-color;

      img {
        @include default-transition();
        filter: $svg-password-color;
      }
    }
  }

  &__descriptions-title {
    display: flex;
    align-items: center;
    gap: 8px;
    color: $text-dark-color;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.02em;

    @media (min-width: $min-tablet-size) {
      font-size: 16px;
    }

    @media (min-width: $max-tablet-size) {
      font-size: 20px;
    }
  }

  &__descriptions-content {
    gap: 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -.02em;

    color: $text-dark-color;

    @media (min-width: $min-tablet-size) {
      font-size: 12px;
    }

    @media (min-width: $max-tablet-size) {
      font-size: 16px;
    }

    p {
      font-family: 'Inter' !important;
      font-weight: 400 !important;
      line-height: 19px !important;
      font-size: 12px !important;
      background: transparent !important;
      margin: 0;

      @media (min-width: $min-tablet-size) {
        font-size: 12px !important;
      }

      @media (min-width: $max-tablet-size) {
        font-size: 16px !important;
      }
    }

    &--city {
      display: flex;
      align-items: center;

      @media (min-width: $min-tablet-size) {
        font-size: 16px;
      }

      @media (min-width: $max-tablet-size) {
        font-size: 16px;
      }

      &:hover {
        @include default-transition();
        color: $accent-color !important;
      }

      &:hover v:focus {
        @include default-transition();
        color: $accent-color !important;
      }
    }


    img {
      filter: $svg-accent-color;
    }
  }

  &__descriptions-details {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 27px;

    @media (min-width: $min-tablet-size) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__descriptions-details-item {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 4px;
    border-bottom: 1px dashed #ABB4C3;
  }

  &__descriptions-details-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    color: $text-dark-color;

    @media (min-width: $min-tablet-size) {
      font-size: 12px;
    }

    @media (min-width: $max-tablet-size) {
      font-size: 16px;
    }
  }

  &__descriptions-details-meaning {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    color: $text-dark-color;

    @media (min-width: $min-tablet-size) {
      font-size: 12px;
    }

    @media (min-width: $max-tablet-size) {
      font-size: 16px;
    }
  }
}

.ads-show-tugs {
  display: flex;
  flex-direction: column;

  &__chips {
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
  }

  &__item {
    background: #E3F1FF;
    border-radius: 12px;
    padding: 13px 20px;
    color: $text-dark-color;

    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    @media (min-width: $min-tablet-size) {
      font-size: 12px;
    }

    @media (min-width: $max-tablet-size) {
      font-size: 16px;
    }

    &:hover {
      @include default-transition();
      color: $accent-color;
    }

    &:focus {
      @include default-transition();
      color: $text-dark-color;
    }

    &:hover &:focus {
      @include default-transition();
      color: $accent-color;
    }
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 16px;
  word-wrap: break-word;
  background: $color-white;
  border: 1px solid rgba(235, 234, 255, 0.5);
  box-shadow: 4px 5px 15px rgba(182, 187, 216, 0.26);
  border-radius: 8px;


  &__header {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
  }

  &__header-avatar {
    img {
      object-fit: cover;
      max-width: 48px;
      min-width: 48px;
      min-height: 48px;
      max-height: 48px;
      border-radius: 8px;
    }
  }

  &__header-content {

  }

  &__header-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $text-dark-second-color;
  }

  &__header-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: $text-dark-color;

    & > * {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: $text-dark-color;

      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;

      &:hover, &:hover:focus {
        @include default-transition();
        color: $accent-color;
      }

      &:focus {
        @include default-transition();
        color: $text-dark-color;
      }
    }

  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}