@import "resources/sass/variables";

.text-page {
  width: 100%;

  &__title {
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: $text-dark-color;

    margin-bottom: 36px;

    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__content {
    width: 80%;

    @media (max-width: 767px) {
      width: 100%;
    }
  }

  &__btn {
    margin-top: 36px;
    width: 20%;

    @media (max-width: 767px) {
      width: 50%;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
}