@import "resources/sass/variables";

.owl-slider {
  position: relative;
}

.picture-custom-navigation {
  position: absolute;
  top: 50%;
  pointer-events: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.custom-navigation-item {
  pointer-events: auto;
  width: 40px;
  height: 40px;
  background: $color-white;
  border-radius: 8px;
  z-index: 1;

  display: flex;
  cursor: pointer;

  box-shadow: (0px 1px 25px rgba(171, 180, 195, 0.25));

  &--next {
    position: absolute;
    right: 20px;
  }

  &--prev {
    position: absolute;
    left: 20px;
    transform: rotate(180deg);
  }
}

.owl-thumbs {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding-top: 14px;
  gap: 6px;

  width: 100%;

  @media (max-width: $max-mobile-size) {
    display: none;
  }
}

.owl-thumb-item {
  width: 80px;
  border-radius: 4px;

  cursor: pointer;
}

.owl-thumb-item.active {
  outline: 3px solid #348EFF;
}