@import "resources/sass/variables";

.chat {
  width: 100%;

  @media (max-width: $max-mobile-size) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__header {
    width: 100%;
    box-shadow: 0px 1px 25px rgba(171, 180, 195, 0.25);
  }

  &__body {
    width: 100%;
    height: 300px;

    @media (max-width: $max-mobile-size) {
      height: auto;
      flex-grow: 1;
    }
  }

  &__footer {
    width: 100%;
    box-shadow: 0px -1px 25px rgba(171, 180, 195, 0.25);
  }

  &__files {
    width: 100%;
    background-color: white;
    z-index: 2;
  }
}

.attach-files {
  width: 100%;
  padding: 0px 26px 26px;
  display: flex;
  flex-direction: row;

  @media (max-width: $max-tablet-size) {
    padding: 0px 12px 12px;
  }

  &__item {
    padding: 4px;
  }

  &__img {
    position: relative;
    border: 1px solid #EEEEEE;
    border-radius: 4px;

    img {
      object-fit: cover;
      width: 80px;
      height: 80px;
      border-radius: 8px;

      @media (max-width: $max-tablet-size) {
        width: 53px;
        height: 53px;
        border-radius: 4px;
      }
    }
  }

  &__delete {
    position: absolute;
    background-image: url("../icon/icon-close.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
    border: 0;
    top: 3px;
    right: 3px;
    border-radius: 4px;
  }
}

.chat-header {
  display: flex;
  padding: 20px 16px 24px;

  @media (max-width: $max-tablet-size) {
    padding: 13px 12px;
  }

  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    img {
      width: 17px;
      height: 17px;
      filter: invert(46%) sepia(56%) saturate(3369%) hue-rotate(199deg) brightness(103%) contrast(102%);

      @media (max-width: $max-tablet-size) {
        width: 15px;
        height: 15px;
      }
    }

    @media (max-width: $max-tablet-size) {
      padding: 15px;
    }
  }

  &__img {
    height: 66px;
    border-radius: 8px;

    @media (max-width: $max-tablet-size) {
      height: 57px;
      border-radius: 4px;
    }
  }

  &__info {
    margin-left: 18px;

    @media (max-width: $max-tablet-size) {
      margin-left: 10px;
    }
  }
}

.chat-info {
  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    @media (max-width: $max-tablet-size) {
      margin-bottom: 7px;
    }
  }

  &__username {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 14px;
      line-height: 17px;
    }
  }

  &__last-online {
    margin-left: 12px;
    font-weight: 300;
    font-size: 16px;
    line-height: 14px;

    color: $text-dark-second-color;

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
  }

  &__post-name {
    font-weight: 400;
    font-size: 20px;
    line-height: 14px;

    color: $text-dark-color;

    &:hover, &:hover:focus{
      color: $accent-color;
    }

    &:focus {
      color: $text-dark-color;
    }

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
      line-height: 14px;}
  }

  &__price {
    margin-left: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 14px;

    color: $text-dark-color;

    flex-shrink: 0;

    &:hover, &:hover:focus{
      color: $accent-color;
    }

    &:focus {
      color: $text-dark-color;
    }

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.chat-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;

  @media (max-width: $max-tablet-size) {
    padding: 0 12px;
  }

  button {
    border: none;
    background-color: transparent;
  }

  &__attach {

    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $max-tablet-size) {
      width: 28px;
      height: 28px;
    }
  }

  &__input {
    width: inherit;

    textarea {
      width: 100%;
      border: 0;
      margin: 16px auto;
      padding: 13px 13px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 16px;
      display: block;
      height: 45px;
      overflow: hidden;

      &::-webkit-input-placeholder {
        color: $text-dark-second-color;
      }

      &::-moz-placeholder {
        color: $text-dark-second-color;
      }

      &:-moz-placeholder {
        color: $text-dark-second-color;
      }

      &:-ms-input-placeholder {
        color: $text-dark-second-color;
      }

      @media (max-width: $max-tablet-size) {
        font-size: 14px;
        line-height: 14px;
        padding: 6px 12px;
        height: 26px;
      }
    }
  }

  &__send-btn {
    width: 40px;
    height: 40px;
    padding: 0;

    @media (max-width: $max-tablet-size) {
      width: 28px;
      height: 28px;
    }

    img {
      width: 100%;
      filter: invert(33%) sepia(8%) saturate(117%) hue-rotate(182deg) brightness(95%) contrast(94%);
    }
  }

  &__send-btn--sending {
    img {
      width: 100%;
      filter: invert(79%) sepia(5%) saturate(683%) hue-rotate(179deg) brightness(92%) contrast(89%);
    }
  }
}

.chat-message {
  display: block;
  min-height: 650px;
  max-height: 650px;
  overflow-y: auto;
  padding: 32px 24px;

  @media (max-width: $max-mobile-size) {
    min-height: unset;
    max-height: unset;
  }

  @media (max-width: $max-tablet-size) {
    padding: 24px 12px;
  }

  @media (max-width: $max-mobile-size) {
    padding: 24px 28px;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &__item {
    width: 100%;
  }
}

.load-old-messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  line-height: 121%;
  color: $accent-color;

  &:hover, &:hover:focus, &:hover:visited {
    color: #004091;
  }

  &:focus {
    color: $accent-color;
  }
}

.message {
  width: 100%;
  display: flex;
  justify-content: start;
  padding: 6px 0;

  @media (max-width: $max-tablet-size) {
    padding: 4px 0;
  }

  &.message--me {
    justify-content: end;
  }

  &__profile-img {
    width: 48px;
    height: 48px;
    order: 1;

    @media (max-width: $max-tablet-size) {
      width: 32px;
      height: 32px;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    .message--me & {
      display: none;
      order: 1;
    }
  }

  &__body {
    margin-left: 8px;
    display: block;
    order: 2;
    border-radius: 0 12px 12px 12px;
    background-color: $secondary-accent-color;
    overflow: hidden;
    font-weight: 300;
    font-size: 16px;
    line-height: 121%;

    max-width: 40%;

    @media (max-width: $max-mobile-size) {
      max-width: 80%;
    }

    .message--me & {
      background: $accent-color;
      color: #fff;
      border-radius: 12px 0px 12px 12px;
    }

    .message--sending & {
      background-color: $text-dark-second-color;
    }

    @media (max-width: $max-tablet-size) {
      margin-left: 4px;
    }
  }

  &__text {
    width: 100%;
    padding: 12px 16px;
    word-break: break-all;

    color: $text-dark-color;

    .message--me & {
      color: $color-white;
    }
  }

  &__time {
    order: 3;
    display: flex;
    align-items: end;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: $text-dark-second-color;
    margin-left: 8px;

    .message--me & {
      order: 1;
    }

    @media (max-width: $max-tablet-size) {
      font-size: 10px;
      line-height: 14px;
    }
  }

  &__read-marker {
    display: flex;
    align-items: end;

    .message--user & {
      display: none;
    }

    img {
      width: 20px;
      height: 20px;

      @media (max-width: $max-tablet-size) {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__file {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__document {
    width: 100%;
  }
}

.message-document {
  display: flex;
  flex-direction: row;
  padding: 18px 16px;

  img {
    width: 24px;

    .message--me & {
      filter: invert(100%) sepia(0%) saturate(3266%) hue-rotate(181deg) brightness(121%) contrast(100%);
    }
  }

  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    margin-left: 8px;
    color: #292b2c;

    .message--me & {
      color: $secondary-accent-color;
    }
  }
}