@import "resources/sass/variables";

.profile {

  &__inner {
    width: 100%;
    background: #FFFFFF;
    box-shadow: -2px -1px 4px rgba(166, 166, 166, 0.12), 2px 4px 5px rgba(0, 0, 0, 0.07);
    border-radius: 8px;

    @media (max-width: $max-mobile-size) {
      height: 100%;
    }
  }
}

.mobile-full-screen {
  @media (max-width: $max-mobile-size) {
    position: absolute;
    top: 39px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
  }
}

.messages {
  width: 100%;

  &__header {
    width: 100%;
    border-bottom: 1px solid #abb4c352;
    padding: 32px 25px 12px;

    @media (max-width: $max-tablet-size) {
      padding: 16px 12px 8px;
    }

    @media (max-width: $max-mobile-size) {
      padding: 16px 16px 6px;
    }
  }

  &__nav {
    width: 100%;
  }

  &__alert {
    margin-top: 32px;
    margin-bottom: 24px;
  }

  &__action-btns {
    margin-top: 22px;
    width: 100%;
  }

  &__empty {
    width: 100%;
    height: auto;
    padding-bottom: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__list {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  &__item {
    width: 100%;
  }
}

.messages-nav {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;

  &__item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    padding: 2px 0;
    color: $text-dark-second-color;
    margin-right: 36px;

    position: relative;

    &--active {
      color: $text-dark-color;

      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $accent-color;
        border-radius: 6px;
        margin: 0px -1px;
      }
    }

    &:hover {
      @include default-transition();
      color: $text-dark-color;
    }

    &:focus {
      @include default-transition();
      color: $text-dark-second-color;
    }

    @media (max-width: 991px) {
      font-size: 15px;
      line-height: 17px;
      margin-right: 16px;
      padding: 1px 0;
    }

    @media (max-width: $min-tablet-size) {
      font-size: 14px;
    }

    @media (max-width: $max-mobile-size) {
      font-size: 12px;
      line-height: 15px;
      margin-right: 12px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.messages-btns {
  display: flex;
  justify-content: space-between;
  align-items: end;

  &__item {

    button {
      padding: 0;
      border: none;
      font: inherit;
      background-color: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
    }

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
    }
  }

  &__delete-all span {
    color: $color-red;

    :hover {
      color: $color-red;
    }

    :focus {
      color: $color-red;
    }
  }
}

.message-select {
  display: flex;
  flex-direction: column;
  align-items: start;

  &__btn {
    color: $accent-color;
    margin-bottom: 4px;
  }

  .messages--select-mode &__select-block {
    display: block;
  }

  &__select-block {
    display: none;
    position: relative;
  }

  &__select {
    img {
      filter: invert(46%) sepia(56%) saturate(3369%) hue-rotate(199deg) brightness(103%) contrast(102%);
      transform: rotate(270deg);
      margin-left: 7px;
    }
  }

  .message-select--open &__dropdown {
    display: block;
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 16px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 1px 23px rgb(171 180 195 / 49%);
    border-radius: 0 8px 8px;

    width: 130%;

    @media (max-width: $max-tablet-size) {
      width: 100%;
    }
  }

  &__options {
    margin: 16px 9px;

    @media (max-width: $max-tablet-size) {
      margin: 12px 8px;
    }
  }

  &__option {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 4px;

    a {
      color: $text-dark-color;

      &:hover {
        @include default-transition();
        color: $accent-color;
      }

      @media (max-width: $max-tablet-size) {
        font-size: 12px;
      }
    }

    img {
      width: 24px;
      height: 24px;
      margin-right: 7px;

      @media (max-width: $max-tablet-size) {
        width: 20px;
        height: 20px;
      }
    }
  }
}

.messages--select-mode .messages-block {
  padding-left: 8px;
}

.messages-block {
  width: 100%;
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(171, 180, 195, 0.48);
  }

  @media (max-width: $max-tablet-size) {
    padding: 16px 12px;
  }

  @media (max-width: $max-mobile-size) {
    padding: 16px;
  }

  a {
    color: unset;

    &:focus, &:hover {
      @include default-transition();
      color: unset;
    }
  }

  .messages--select-mode &__checkbox {
    display: flex;
  }

  &__checkbox {
    display: none;
    align-items: center;
    justify-content: center;
  }

  &__img-inner {
    width: 94px;
    aspect-ratio: 1/1;
  }

  &__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  &__body {
    width: 100%;
    padding-left: 12px;

    @media (max-width: $max-tablet-size) {
      padding-left: 8px;
    }
  }

  &__action {
    display: flex;
  }

  &__action-icon {
    width: 24px;
    height: 24px;
    display: block;

    @media (max-width: $max-tablet-size) {
      width: 20px;
      height: 20px;
    }
  }

  &__header, &__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
  }

  &__post-info {
    width: 100%;
    display: flex;
    margin-bottom: 18px;
    font-style: normal;
    font-size: 16px;
    line-height: 14px;

    @media (max-width: $max-tablet-size) {
      margin-bottom: 12px;
      font-size: 14px;
    }

    @media (max-width: $max-tablet-size) {
      margin-bottom: 12px;
    }
  }

  &__info {
    display: flex;
  }

  &__username {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    display: flex;
    align-items: center;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 14px;
      line-height: 14px;
    }

    @media (max-width: $max-mobile-size) {
      font-size: 12px;
    }

    &--online {

      &:after {
        content: '';
        display: block;
        height: 8px;
        width: 8px;
        background-color: #6DCC94;
        margin-left: 4px;
        border-radius: 50%;
      }
    }
  }

  &__date {
    display: flex;
    align-items: center;
    margin-left: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $text-dark-second-color;

    @media (max-width: $max-tablet-size) {
      margin-left: 12px;
    }

    @media (max-width: $max-mobile-size) {
      margin-left: 10px;
    }
  }

  &__post-name {
    font-style: normal;
    font-weight: 400;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      width: 50%;

      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &__post-sum {
    font-style: normal;
    font-weight: 700;
    margin-left: 16px;
    white-space: nowrap;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      margin-left: 14px;
    }
  }

  &__message {
    width: 80%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 16px;

    color: $text-dark-second-color;

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
    }
  }

  &__count {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      padding: 2px 8px;
      background: $secondary-accent-color;
      border-radius: 4px;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.action-icon {
  &__delete {
    background-image: url("../icon/icon-tush-red.svg");
    background-size: 100% auto;
  }

  &__important {
    background-image: url("../icon/icon-star.svg");
    background-size: 100% auto;

    &--active {
      background-image: url("../icon/icon-star-blue.svg");
      background-size: 100% auto;
    }
  }

  &__read {
    background-image: url("../icon/icon-mail.svg");
    background-size: 100% auto;

    &--active {
      background-image: url("../icon/icon-mail-open.svg");
      background-size: 100% auto;
    }
  }
}