@import "../../variables";

.location-modal {
  background-color: $color-white;
  border-radius: 8px;

  padding: 16px;

  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-bottom: 15px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $text-dark-color;
    padding: 0;

    flex-basis: 85%;
  }

  &__close {
    cursor: pointer;
  }
}