.edit-profile-popup {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;

  &--active {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
    padding: 40px 0;

    .modal__content {
      width: 480px;
    }

    .file-drop-zone .file-preview-thumbnails {
      cursor: pointer;
      display: flex;
    }

    .file-drop-zone .file-preview-thumbnails {
      cursor: pointer;
      padding: 31px;
      display: flex;
      justify-content: center;
      box-shadow: 0px 1px 25px rgba(171, 180, 195, 0.25);
      border-radius: 8px;
    }

    .photo-field {
      width: 100%;
      display: flex;
      vertical-align: middle;
    }

    .photo-field .file-input {
      display: flex !important;
      width: 100% !important;
    }

    .krajee-default.file-preview-frame .kv-file-content {
      width: auto !important;
      height: auto !important;
    }

    .photo-field .krajee-default.file-preview-frame, .photo-field .krajee-default.file-preview-frame:hover {
      background: #FFFFFF;
      box-shadow: 0px 1px 25px rgba(171, 180, 195, 0.25);
      border-radius: 8px;

      img {
        object-fit: cover;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }

    body {
      overflow-y: hidden;
    }
  }

  &__body {
    padding: 0 32px 20px;
  }
}