@import "../../variables";

.post-category-modal {
  margin: auto;
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  @media (min-width: $min-tablet-size) {
    max-width: 671px;
    height: 100vh;

    position: unset;
    overflow: unset;
  }

  @media (min-width: $max-tablet-size) {
    max-width: 736px;
    height: 100vh;

    position: unset;
    overflow: unset;
  }

  .modal-content {
    border: 1px solid rgba(235, 234, 255, 0.5);
    border-radius: 0 !important;
    height: 100%;

    @media (min-width: 768px) {
      border-radius: 8px !important;
      height: auto;
    }
  }

  &__header {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 16px 16px;
    border-radius: 8px;
    background: white !important;

    @media (min-width: $min-tablet-size) {
      padding: 24px;
    }


  }

  &__header-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #535456;

    @media (min-width: $min-tablet-size) {
      font-size: 20px;
    }
  }

  &__body {
    h6 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 14px;
      text-align: left;
      color: #535456;
    }

  }

  &__close {
    position: relative;
    cursor: pointer;
    background: transparent;
    border-color: transparent;

    &:before,
    &:after {
      content: "";
      position: absolute;
      right: 0px;
      width: 15px;
      height: 1px;
      background: #535456;
    }

    &:before {
      webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:after {
      webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  &__arrow {
    filter: $svg-accent-color;
    margin-right: 13px;
  }
}

.modal-category {

  &__box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
    padding: 0 9px 40px;

    .post-category-modal {
      padding: 0 12px;
    }

    .modal-content {
      border: 1px solid rgba(235, 234, 255, 0.5);
      border-radius: 0 !important;
      height: 100%;
    }

    @media (min-width: $min-tablet-size) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      padding: 0 24px 40px;
      gap: 11px;
    }

    @media (min-width: $max-tablet-size) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      padding: 0 24px 40px;
      gap: 12px;
    }
  }

  &__box-list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 27px;
    margin: 0 16px 40px;
    row-gap: 12px;

    max-height: 70vh;
    overflow-y: scroll;

    @media (min-width: $min-tablet-size) {
      grid-template-columns: repeat(2, 1fr);
      margin: 0 24px 40px;

      overflow-y: scroll;
      max-height: 50vh;
    }

  }

  &__box-list-item {
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #535456;

      &:hover {
        color: $accent-color;
      }
    }

  }

  &__item {
    display: flex;
    flex-direction: column;
    background: linear-gradient(141.83deg, #FFFFFF 45.64%, #E5F6EC 130.72%);
    border: 1px solid #E3F1FF;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    position: relative;

    @media (min-width: $min-tablet-size) {
      width: 116px;
      height: 116px;
    }

    @media (min-width: $max-tablet-size) {
      width: 128px;
      height: 128px;
    }

    img {
      width: 70%;
    }
  }

  &__item-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    margin-right: auto;
    line-height: 14px;
    padding: 0 8px;
    color: #535456;
    width: 100%;
    text-align: left;
  }
}