@import "../../variables";

.post-free-container {

  @media (min-width: 1200px) {
    padding-right: 45px !important;
  }
}

.post-free {

  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 29px;
    align-items: flex-end;
    letter-spacing: -0.02em;
    color: $text-dark-color;
    padding: 12px 0 20px 0;

    @media (min-width: $max-tablet-size) {
      font-size: 20px;
      padding: 12px 0 32px 0;
    }

    @media (min-width: $max-tablet-size) {
      font-size: 24px;
      padding: 12px 0 32px 0;
    }

    a {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 29px;
      align-items: flex-end;
      letter-spacing: -0.02em;
      color: $text-dark-color;
      padding: 12px 0 32px 0;

      &:hover {
        @include default-transition();
        color: $accent-color;
      }
    }
  }

  &__title-description {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: $text-dark-color;

    @media (min-width: $max-tablet-size) {
      font-size: 14px;
    }
  }

  &__title-salesman {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #535456;
    padding-top: 50px;
    margin-bottom: 24px;

    @media (min-width: $max-tablet-size) {
      border-top: 1px solid #EEEEEE;
      margin-top: 48px;
      padding-top: 27px;
    }
  }

  &__category-content {

    @media (min-width: 992px) {
      padding-right: 44px;
    }
  }

  &__price {
    display: flex;
    gap: 20px;
  }

  &__salesman {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  &__salesman-input-input {
    display: block;
    width: 100%;
    padding: 11px 20px;
    font-size: 14px;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-radius: 12px;
    border: 1px solid #abb4c3;

    &:focus {
      border: 1px solid $accent-color
    }

    @media (min-width: 992px) {
      font-size: 16px;
    }
  }

  &__salesman-input-phone {
    display: flex;
    align-items: center;
    padding: 0 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: $accent-color;
    background: white;
    border: 1px solid $accent-color;
    border-radius: 12px;

    @media (min-width: 992px) {
      font-size: 16px;
    }
  }

  &__salesman-label-phone {
    cursor: pointer;
    text-align: center;
    margin: 0;
    color: $accent-color !important;
    background: white;

    &:hover {
    }
  }

  &__salesman-input-group {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 100%;
  }

  &__button {
    width: 100%;
    padding: 12px 12px;
    background: $accent-color;
    border: 1px solid $accent-color;
    border-radius: 12px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;

    @media (min-width: 992px) {
      font-size: 16px;
    }
  }

  &__file-show {
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px
  }
}

.post-edit-category {
  display: flex;

  a {
    color: $accent-color !important;

    margin-left: 3px;

    &::before {
      color: $accent-color;
      content: '/';
      margin-right: 3px;
    }

    &:first-child {
      margin-left: 0;

      &::before {
        color: $accent-color;
        content: '';
      }
    }
  }
}

