@import "resources/sass/variables";

.photo-box {
  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $text-dark-color;
  }

  &__descriptions {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: $text-dark-second-color;
  }
}

.file-preview-thumbnails {
  background: $color-white;
  cursor: default;
}

.file-preview {
  background: #EEF7FF;
  border: none !important;
  border-radius: 8px;
  padding: 0 !important;
  width: 100%;
  margin-bottom: 16px;
}

.krajee-default.file-preview-frame {
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0px 1px 25px rgba(171, 180, 195, 0.25);
}

.file-drop-zone {
  background: #EEF7FF;
  border: 1px dashed #348EFF !important;
  border-radius: 8px !important;
  padding: 0 !important;
  width: 100%;
  min-height: 260px;
  text-align: center;
  vertical-align: middle;
  margin: 0 !important;
}

.file-drop-zone .file-preview-thumbnails {
  border-radius: 8px;
  cursor: default;
}

.file-drop-zone-title {
  font-weight: 400;
  font-size: 20px !important;
  line-height: 182.02%;

  color: #535456 !important;
  text-align: center;
  padding: 85px 10px;
  cursor: default;
}

.fileinput-remove {
  display: none;
  top: 1px;
  right: 1px;
  line-height: 10px;
}

.kv-upload-progress .progress {
  background: #6DCC94;
  border-radius: 8px;
  height: 30px;
  margin: 10px 0;
  overflow: hidden;
}

.fileinput-cancel-button {
  margin-top: 0.5rem;
  width: 40%;
  float: right;
  background: $color-white;
  color: $text-dark-color;
  border: 1px solid $text-dark-color;

  @media (min-width: $min-tablet-size) {
    width: 30%;
  }

  @media (min-width: $max-tablet-size) {
    width: 20%;
  }

  &:hover {
    @include default-transition();
    background: $color-white;
    color: $accent-color;
    border: 1px solid $accent-color;
  }

  &:focus {
    @include default-transition();
    color: $text-dark-second-color;
  }
}

.krajee-default .file-footer-buttons {
  display: flex;
  gap: 10px;
  float: right;

  button {
    padding: 0;

    &:hover {
      @include default-transition();
      outline: none;
      background: none;
      border: none;
    }

    &:focus {
      @include default-transition();
      outline: none;
      background: none;
      border: none;
    }

    &:hover &:focus {
      @include default-transition();
      outline: none;
      background: none;
      border: none;
    }
  }
}

.krajee-default .file-drag-handle, .krajee-default .file-upload-indicator {
  float: left;
  margin-top: 0 !important;
  width: 16px;
  height: 16px;
}

.post-create {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: $text-dark-color;

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;

    color: $accent-color;

    &:hover,:hover:focus {
      color: $hover-accent-color;
    }

    &:focus {
      color: $accent-color;
    }
  }
}