@import "resources/sass/variables";

.login-box {
  background: #FFFFFF;
  border-radius: 8px;

  @media (min-width: $min-tablet-size) {
    box-shadow: -2px -1px 4px rgba(166, 166, 166, 0.12), 2px 4px 5px rgba(0, 0, 0, 0.07);
  }
}

.login-reset-password {

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $accent-color;

  &--font-weight-600 {
    font-weight: 600;
  }

  &:hover {
    color: $text-dark-color
  }

  &:hover, &:focus {
    color: $text-dark-color;
  }
}

.login-lost-your {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #535456;
}

.login-button {
  display: flex;
  gap: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;

  button {
    font-weight: 600;
    font-size: 16px;
    line-height: 14px;
    color: #FFFFFF;
  }

  a {
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    color: #535456;

    padding: 15px;
    text-align: center;
    border: 1px solid #ABB4C3;
    border-radius: 12px;

    &:hover {

    }
  }
}

.login-box-btm {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #535456;

  a {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: $accent-color;

    &:hover {
      color: $text-dark-color
    }

    &:hover, &:focus {
      color: $text-dark-color;
    }
  }
}

.login-benefits {
  display: none;

  @media (min-width: $min-tablet-size) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 23px;
    padding: 12px 0;

  }

  &__title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;

    justify-content: center;

    img {
      height: 26px;
      filter: invert(46%) sepia(56%) saturate(3369%) hue-rotate(199deg) brightness(103%) contrast(102%);

      @media (min-width: $max-tablet-size) {
        height: 37px;
      }
    }

    h3 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 152.9%;
      color: #348EFF;
      padding: 0;

      @media (min-width: $max-tablet-size) {
        font-size: 14px;
      }
    }
  }

  &__descriptions {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 152.9%;
    color: #535456;
    margin: 0;

    text-align: center;
  }

  &__block {
    border-right: 1px solid #eee;
    padding: 15px 24px 15px 0;

    &:first-child {
      padding-left: 14px;
    }

    &:last-child {
      border-right: none;
    }
  }
}

.login-back {
  display: flex;
  align-items: center;
  gap: 10px;
  color: $accent-color;

  img {
    filter: $svg-accent-color;

  }

  &:hover {
    color: $text-dark-color;

    img {
      filter: $svg-password-color;
    }
  }

  &:hover, &:focus {
    color: $text-dark-color;

    img {
      filter: $svg-password-color;
    }
  }
}