@import "resources/sass/variables";

.register-title {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 37px;
  align-items: flex-end;
  letter-spacing: -0.02em;
  color: #535456;
  padding: 12px 0 32px 0;

  @media (min-width: $min-tablet-size) {
    font-size: 24px;
  }
}

.have-account {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4px;

  font-size: 14px;
  line-height: 17px;

  color: $text-dark-color;

  &__link {
    color: $accent-color;

    &:hover {
      @include default-transition();
      color: $hover-accent-color;
    }
    &:focus {
      @include default-transition();
      color: $accent-color;
    }
    &:visited {
      @include default-transition();
      color: $accent-color;
    }

    &:focus:hover {
      @include default-transition();
      color: $hover-accent-color;
    }

    &:visited:hover {
      @include default-transition();
      color: $hover-accent-color;
    }
  }
}

.password-text-success {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: $text-dark-color;
}