@import "../../variables";

.dropdown-menu.account.show {
  top: 84%;
  right: auto;
  left: 10%;
  background: $color-white;
  box-shadow: 0 1px 23px rgba(171, 180, 195, 0.49);
  border-radius: 0 8px 8px 8px;
  padding: 24px 8px 12px;

  min-width: 262px;
  min-height: 357px;

  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  color: $text-dark-color;
}

.dropdown-menu.account.show > li {
  padding-bottom: 12px;
}