@import "../../variables";

.header {
  display: flex;
  flex-direction: column;
}

.header-navigation {
  background-color: $color-white;

  box-shadow: 0 1px 25px rgba(171, 180, 195, 0.25);

  z-index: 5;

  @media (max-width: $max-mobile-size) {
    display: none;
  }
}

.menu-counter {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  display: flex;
  align-items: center;
  text-align: right;

  color: $text-dark-color;

  padding: 1px 8px;
  background-color: $color-white;
  border-radius: 4px;

  &--background {
    background-color: $secondary-accent-color;
  }
}

.header-menu {
  &__item {
    float: left;
    clear: left;
    width: 100%;

    &--counter {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    a {
      display: flex;
    }

    &:hover {
      @include default-transition();
      color: $accent-color;

      & span {
        @include default-transition();
        color: $accent-color;
      }

      & a {
        @include default-transition();
        color: $accent-color;
      }
    }

    &:visited {
      @include default-transition();
      color: $text-dark-color;
    }

    &:focus {
      @include default-transition();
      color: $text-dark-color;
    }

    &:focus:hover {
      @include default-transition();
      color: $text-dark-color;

      & span {
        @include default-transition();
        color: $accent-color;
      }

      & a {
        @include default-transition();
        color: $accent-color;
      }
    }
  }

  &__divider {
    width: 100%;
    height: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
}

.navbar {
  box-shadow: 0px 1px 25px rgba(171, 180, 195, 0.25);

  &__container {
    gap: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;

  }

  &__item {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;

    @media (max-width: $min-tablet-size) {
      font-size: 12px;
    }

    & > a:hover {
      @include default-transition();
      color: $accent-color;
    }

    & > a:link, a:active, a:visited {
      @include default-transition();
      color: $text-dark-color;
    }
  }
}

.header {
  &__notify-count {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;

    display: flex;
    align-items: center;
    text-align: center;


    &--active {
      color: $accent-color;
    }

    &--default {
      color: $text-dark-color;
    }
  }

  &__link {
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;

    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: $text-dark-color;
    align-self: end;

    &:hover, &:focus:hover, &:link:hover, &:visited:hover {
      @include default-transition();
      color: $accent-color;

      span {
        @include default-transition();
        color: $accent-color;
      }
      img {
        @include default-transition();
        filter: invert(47%) sepia(24%) saturate(4141%) hue-rotate(196deg) brightness(100%) contrast(104%);
      }
    }

    img {
      filter: invert(32%) sepia(0%) saturate(1205%) hue-rotate(75deg) brightness(95%) contrast(87%);
    }

    &--accent {
      img {
        filter: invert(47%) sepia(24%) saturate(4141%) hue-rotate(196deg) brightness(100%) contrast(104%);
      }
    }
  }
}

.header-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $max-mobile-size) {
    display: none;
  }
}

.navbar-identity {

  @media (max-width: 990px) {
    display: flex;
    width: 15%;
  }
}

.header-button {
  margin-left: 20px;

  @media (max-width: 990px) {
    margin-left: 0;
  }
}

.logo-title {
  -webkit-justify-content: center;
  justify-content: center;

  img {
    width: 46px;
    height: 59px;
  }
}