@import "../../variables";

.header-category {
  z-index: 2;

  background-color: $color-white;
  box-shadow: 0 1px 25px rgba(171, 180, 195, 0.25);
  gap: 20px;

  &__preview {
    overflow: hidden;
    padding-bottom: 13px;
    margin-left: 10px;
    margin-right: 10px;
  }

  &__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    white-space: nowrap;

    display: block;
    float: left;
    width: 100%;
    color: $text-color;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;

    &:hover {
      @include default-transition();
      color: $accent-color;
    }

    &:visited {
      @include default-transition();
      color: $text-color;
    }

    &:focus {
      @include default-transition();
      color: $accent-color;
    }

    &:hover:focus {
      @include default-transition();
      color: $accent-color;
    }

    &:hover:visited {
      @include default-transition();
      color: $accent-color;
    }

    &--active {

      &:before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: $accent-color;
        border-radius: 6px;
        margin: 0px -1px;
      }
    }

  }
}

.header-swiper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  bottom: 30%;
  z-index: 10;

  img {
    filter: invert(51%) sepia(80%) saturate(3095%) hue-rotate(195deg) brightness(100%) contrast(102%);
  }

  background: $secondary-accent-color;
  border-radius: 6px;

  @media (max-width: $max-mobile-size) {
    display: none;
  }

  &--next {
    right: -20px;
    left: auto;
  }

  &--prev {
    left: -20px;
    right: auto;

    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}
