@import "../../variables";

.left-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 32px;
  min-width: 32px;
  background: $color-white;
  border-radius: 8px;

  &--border {
    border: 1px solid $secondary-accent-color;
  }

  &__button-open {
    max-width: 50%;
  }

  &__button-close {
    padding: 32px 0 0 10px;
  }

  &__container {
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: rgba(15, 14, 40, 0.6);
    height: 100%;
    width: 100vw;
  }

  &__container.open {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-shadow: 0px 1px 23px rgba(171, 180, 195, 0.49);
    border-radius: 0px;

    overflow-y: scroll;
  }

  &__background {
    height: 100%;
    width: 100%;
  }
}

.left-account-menu {
  min-height: 100%;
  background-color: $color-white;
  min-width: 230px;

  padding: 0 16px;

  position: relative;
  width: 100%;

  &__not-auth {
    padding-top: 24px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    padding: 24px 0 26px 0;
  }

  &__divider {
    height: 0;
    width: -webkit-fill-available;
    width: -moz-available;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    padding: 8px 0;
  }

  &--counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__item {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: flex-end;

    color: $text-dark-color;
  }

  &__item.menu-block-last-item {
    padding-bottom: 16px;
  }

  &__item.menu-block-items {
    padding-bottom: 14px;
  }

  &__item.menu-block-item-settings {
    padding-bottom: 12px;
  }

  &__item > a:link, a:hover, a:active, a:visited {
    @include default-transition();
    color: $text-dark-color;
  }
}

.profile-avatar {
  background: $secondary-accent-color;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  & > img {
    max-width: 100%;
    border-radius: 6px;
    aspect-ratio: 1 / 1;
  }
}