@import "resources/sass/variables";

.profile-not-found {
  margin: 0 auto;
  padding-top: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__img {
    width: 70%;

    .saved-search & {
      width: 25%;
    }
  }

  @media (max-width: $max-tablet-size) {
    padding-top: 54px;
  }

  @media (max-width: $max-mobile-size) {
    padding-top: 54px;
  }

  &__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;

    text-align: center;

    color: $text-dark-color;
    
    @media (max-width: $max-tablet-size) {
      font-size: 18px;
      line-height: 28px;
    }
    
    @media (max-width: $max-mobile-size) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  &__link {
    padding-top: 16px;
    text-align: center;

    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: $accent-color;

    @media (max-width: $max-tablet-size) {
      padding-top: 8px;
      font-size: 14px;
      line-height: 17px;
    }

    @media (max-width: $max-mobile-size) {
      padding-top: 8px;
      font-size: 14px;
      line-height: 17px;
    }

    &:hover, &:hover:focus, &:hover:visited {
      @include default-transition();
      color: #004091;
    }

    &:focus {
      color: $accent-color;
    }
  }
}