@import "resources/sass/variables";

.alert-manna {
  border-radius: 12px;
  padding: 16px 10px;

  @media (min-width: $max-tablet-size) {
    padding: 16px 50px;
  }

  &__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #535456;
  }

  &__list {
    display: flex;
    flex-direction: column;

    li {
      display: flex;
      gap: 14px;

      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: #535456;

      img {
        filter: $svg-password-color;
      }
    }
  }

  &--danger {
    background-color: #FAE3E5;
  }

  &--success {
    background-color: $color-green;
    color: $color-white;
  }
}

.alert-danger {
  background: $alert-danger-color;
  border-color: $alert-danger-color;
  border-radius: 12px;
  padding: 16px 17px;

  @media (min-width: $max-tablet-size) {
    padding: 16px 32px;
    font-size: 14px;
  }

  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: $text-dark-color;

  &--text-center {
    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
      background: $alert-danger-color;
      text-align: center;

      li {
        display: block !important;
        text-align: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: $text-dark-color;

        img {
          filter: $svg-password-color;
        }
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: $text-dark-color;

    @media (min-width: $max-tablet-size) {
      font-size: 14px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: $alert-danger-color;

    li {
      display: flex;
      gap: 14px;

      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: $text-dark-color;
      white-space: pre-wrap;

      img {
        width: 15px;
        height: 15px;
        filter: $svg-password-color;
      }
    }


  }
}
