@import "resources/sass/variables";

.alert-success {
  background: $alert-success-color;
  border-radius: 12px;
  padding: 16px 17px;
  border-color: $alert-success-color;

  @media (min-width: $max-tablet-size) {
    padding: 16px 32px;
    font-size: 14px;
  }

  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: $text-dark-color;
  text-align: center;

  &--text-center {
    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
      background: $alert-success-color;
      text-align: center;

      li {
        display: block !important;
        text-align: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        color: $text-dark-color;

        img {
          filter: $svg-password-color;
        }
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 5px;

    li {
      display: flex;
      gap: 14px;
      text-align: center;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      color: $text-dark-color;

      img {
        filter: $svg-white-color;
      }
    }
  }
}

.alert-btn-close {
  position: absolute;
  top: 10px;
  right: 15px;
}