@import "resources/sass/variables";

.alert-info {
  background: #6dcc94;
  border-radius: 12px;
  padding: 23px 27px 23px 95px;
  border: none;
  color: $color-white;
  gap: 20px;
  text-align: center;
  align-items: flex-start;
  justify-content: space-between;

  @media (min-width: $max-tablet-size) {
    padding: 23px 27px 23px 95px;
  }

  &__title {
    font-weight: 100;
    font-size: 16px;
    line-height: 19px;
    color: $color-white;

    a {
      strong {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: $color-white;

        &:hover {
          @include default-transition();
          color: $accent-color;
        }
      }
    }
  }

  &__close {
    background: transparent;
    border: none;
    display: contents;

    img {
      filter: $svg-white-color;

      &:hover {
        @include default-transition();
        filter: $svg-accent-color;
      }
    }
  }
}