@import "resources/sass/variables";

.alert-js {
  border-radius: 8px;
  width: 30%;

  position: absolute;
  top: 80px;
  right: 35%;

  z-index: 100;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 12px 9px 12px 12px;

  @media (max-width: $max-tablet-size) {
    width: 40%;
    top: 55px;
    right: 30%;
  }

  @media (max-width: $max-mobile-size) {
    width: 80vw;
    top: 38px;
    right: calc(50% - 80vw / 2);
    margin: 0 auto;
  }

  &--success {
    background-color: $alert-js-success-second;
    border: 1px solid $alert-js-success;
  }

  &--info {
    background-color: $alert-js-info-second;
    border: 1px solid $alert-js-info;
  }

  &--error {
    background-color: $alert-js-error-second;
    border: 1px solid $alert-js-error;
  }

  &__content {
    display: flex;
    flex-direction: row;
    gap: 12px;
    width: 95%;
  }

  &__icon {
    width: 40px;
    height: 40px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    .alert-js--success & {
      background-color: $alert-js-success-icon-second;

      > img {
        filter: $alert-js-success-icon;
      }
    }

    .alert-js--info & {
      background-color: $alert-js-info-icon-second;

      > img {
        filter: $alert-js-info-icon;
      }
    }

    .alert-js--error & {
      background-color: $alert-js-error-icon-second;

      > img {
        filter: $alert-js-error-icon;
      }
    }
  }

  &__message {
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;

    width: 80%;

    align-self: center;

    .alert-js--success & {
      color: $alert-js-success-text;
    }

    .alert-js--info & {
      color: $alert-js-info-text;
    }

    .alert-js--error & {
      color: $alert-js-error-text;
    }
  }

  &__close {
    padding-top: 8px;
    cursor: pointer;

    .alert-js--success & {
      filter: $alert-js-success-close;
    }

    .alert-js--info & {
      filter: $alert-js-info-close;
    }

    .alert-js--error & {
      filter: $alert-js-error-close;
    }
  }
}