@import "resources/sass/variables";

.alert-js-confirm {
  position: relative;

  padding: 77px 33px;

  background-color: $color-white;
  border: 1px solid rgba(235, 234, 255, 0.5);
  border-radius: 8px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    width: 70%;

    color: $text-dark-color;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;

    width: 100%;
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 34px;

    cursor: pointer;

    filter: invert(31%) sepia(5%) saturate(151%) hue-rotate(182deg) brightness(96%) contrast(88%);
  }
}