@import "resources/sass/variables";

.moderation-alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  width: 100%;
  padding: 24px 20px 20px 20px;

  background: $alert-js-error-second;
  border-radius: 12px;

  @media (max-width: $max-tablet-size) {
    border-radius: 8px;
    padding: 12px;
    gap: 8px;
  }

  @media (max-width: $max-mobile-size) {
    padding: 10px;
    gap: 10px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: $text-dark-color;
    
    @media (max-width: $max-tablet-size) {
      font-size: 12px;
      line-height: 15px;
    }
  }

  &__description {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    text-align: center;

    color: $text-dark-color;

    @media (max-width: $max-tablet-size) {
      font-size: 12px;
      line-height: 15px;
    }
  }
}